[2016-04-09 03:57] onovotny commented on #551
Always happy to take a PR to make the missing resources errors more clear!

[2016-04-09 03:59] onovotny commented on #548
Happy to accept this PR when ready.

[2016-04-11 03:14] eddiegroves commented on #545
I solved this by wrapping `Humanize()` in another extension method. Might not be the cleanest way but it was effective (I also needed to print 'Yesterday' and the day of the week).

[code]

[2016-04-11 03:54] aloisdg commented on #545
@eddiegroves AFAIK, Humanizer already supports "yesterday".

[2016-04-20 20:07] ncksol commented on #525
I believe the proper way to fix this is to make the instance with null passed as Truncation String behave the same way when you pass an empty string.
According to description of the class it's suppose to count just characters and digits and whitespace is none of those. It is ignoring it for empty string, but not for null string.
Please see my pr.

[2016-05-01 00:58] onovotny commented on #525
@hazzik thoughts? Does the PR address your issue?

[2016-05-09 15:28] wldevries commented on #537
I had this same problem in an XNA game I manually updated to .NET 4.5 by editing the csproj file. To fix this I had to include a .net target file at the top of the .csproj file.

    <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />

[2016-05-09 15:35] wldevries commented on #537
I had the same problem with an XNA project that I manually upgraded to .NET  4.5. To fix it I had to manually include all the references in the .csproj file as follows:

    <Reference Include="System.Runtime"/>
    <Reference Include="System.Globalization"/>

When inspecting the references in the project view you can see they actually point to `C:\Program Files (x86)\Reference Assemblies\Microsof

[2016-05-19 18:47] jnm2 opened #555 "CollectionHumanizeExtensions.Humanize causes NullReferenceException for null items"
This is a headache for me. `.Select(_ => _?.ToString() ?? string.Empty).Humanize()` seems unnecessary; wouldn't it be a sensible default to allow `.Humanize()` directly on collections containing nulls?

Happy to do a PR if you think so.

[2016-05-25 12:17] michaeldimoudis opened #556 "When using in Xamarin (and/or Forms), can't embed/bundle assemblies into native code"
Hi, so this has been causing me grief for a long time, I could not for the life of me "embed/bundle assemblies into native code" for my Xamarin Forms Android app. I finally tracked the issue down to this Humanizer library. Removing Humanizer immediately worked.

Here is the error:
`[aot-compiler stdout] JIT time: 26 ms, Generation time: 116 ms, Assembly+Link time: 68 ms.[mkbundle stderr] ERROR: Du

[2016-05-25 12:20] onovotny commented on #556
This is a bug with the Xamarin linker. Can you please open a Bugzilla with a repro and post the Bugzilla link here? They should be able to handle duplicate assembly names that are in different folders.

[2016-05-25 15:17] jonpryor commented on #556
This isn't a bug with the Xamarin.Android linker. [This is a bug with `mkbundle` not supporting satellite assemblies](https://bugzilla.xamarin.com/show_bug.cgi?id=11430). Unfortunately, Humanizer uses satellite assemblies, presumably for language translations, thus triggering this limitation in "Bundle assemblies into Native Code" support.

AOT is another matter entirely, and does allow building t

[2016-05-26 18:09] ghigad opened #557 "NumberToWords in French is wrong for a few numbers"
Hi,

Edit:  Added a few edge cases with thousands and millions...

In French, twenty (vingt) and one hundred (cent) have to be accorded to plural, but only when it's not followed by any other number.  Please note that in French, eighty is quatre-vingts (four times twenty...)...

Here are a few examples:

Number|Actual result|Expected value|Correct?
------|-------------|--------------|--------
80|q

[2016-05-26 20:28] aloisdg commented on #557
Thank you for the input. There is already a on-going fix for this. Feel free to share your opinion on #542

[2016-05-27 09:32] jaxx-rep commented on #557
As mentionned by @aloisdg there a fix for this included in my PR #542

See commit 11242d9dd39fd4c6a90c2668c9de885275b27b03

[2016-05-28 10:44] hazzik commented on #557
@jaxx-rep your implementation does not cover these cases.

[2016-05-28 11:24] hazzik commented on #557
@aloisdg @jaxx-rep @ghigad what is expected output for "200456"?

[2016-05-28 11:25] aloisdg commented on #557
@hazzik I would say  "deux cent mille quatre cent cinquante-six".

[2016-05-28 11:30] hazzik commented on #557
@aloisdg https://github.com/Humanizr/Humanizer/blob/11242d9dd39fd4c6a90c2668c9de885275b27b03/src/Humanizer.Tests.Shared/Localisation/fr-BE/NumberToWordsTests.cs#L50 here is "deux cent**s** mille quatre cent cinquante-six".

[2016-05-28 11:30] aloisdg opened #558 "Add Esperanto support for NumberToWords"
Hello,

I am adding esperanto support for NumberToWords.

Cheers,

[2016-05-28 11:32] aloisdg commented on #557
@hazzik Nice :)

[2016-05-28 11:35] hazzik commented on #557
The question is what version is correct. Do I understand correctly that "deux cent_ mille" but "deux cent**s** millions"?

[2016-05-28 11:37] hazzik commented on #557
@aloisdg

The question is what version is correct.

"deux cent**s** mille quatre cent cinquante-six"
OR
"deux cent_ mille quatre cent cinquante-six"

 Do I understand correctly that it should be "deux cent_ mille" but "deux cents millions"?

[2016-05-28 11:44] aloisdg commented on #557
@hazzik I think it is "deux cent mille" and "deux cent millions". There is a "s" after "cent", if there is nothing after like "deux cents" or "neuf cents".

[2016-05-28 11:49] hazzik commented on #557
@aloisdg [wiki](https://fr.wikipedia.org/wiki/Nombres_en_fran%C3%A7ais) says following:

- 300 000 = trois-cent-mille
- 300 000 000 = trois-cents millions

[2016-05-28 11:53] aloisdg commented on #557
Indeed. So it is "deux cents millions". I am not sure for the "-". [francaisfacile.com](http://www.francaisfacile.com) doesnt use it.

[2016-05-28 13:55] ghigad commented on #557
The rule for "vingt" and "cent" is that they take an "s" when they are last:  quatre-vingts, trois cents, but they don't take an "s" when another number follows:  "quatre-vingt-trois", "trois cent vingt-quatre".  "Mille" is always invariable (never takes an "s").

The rule for the "-" is that numbers under 100 take a "-" (83 -> "quatre-vingt-trois"), but numbers above one hundred don't take "-" (2

[2016-05-28 14:19] onovotny commented on #556
@jonpryor thanks for the clarification here. Question is, when is `mkbundle` going to be fixed The Bugzilla is over three years old.

[2016-05-28 14:22] onovotny commented on #555
Happy to accept a PR to fix this. I would think that there should be a default null value that's overridable if desired. Some people may want `String.Empty`, but others may want something like `Missing` or `<empty>`.

[2016-05-28 14:23] #540 closed

[2016-05-28 14:26] #546 closed

[2016-05-28 14:26] #545 closed

[2016-05-28 14:28] onovotny commented on #525
Merged in PR

[2016-05-28 14:28] #525 closed

[2016-05-28 19:04] aloisdg commented on #558
Well, Esperanto is not supported as culture by .NET. [Should I create it](http://www.codeproject.com/Articles/15175/NET-Internationalization-The-Developer-s-Guide-to)? If yes, maybe in a separate library. What do you think?

Since there isn't a special need for it, i am not sure what to do with it.

[2016-05-29 10:20] aloisdg commented on #557
@ghigad The [french spelling reforms of 1990](https://en.wiktionary.org/wiki/Appendix:French_spelling_reforms_of_1990#Numbers) disagrees. @hazzik is right by following wikipedia.

Traditional spelling
cent vingt-et-un
trois cent trente-deux mille cinq cent un

Reformed spelling
cent-vingt-et-un
trois-cent-trente-deux-mille-cinq-cent-un

[2016-05-29 10:26] aloisdg commented on #557
@hazzik I tried your code on my computer. Everything looks god so far.

[2016-05-29 13:29] hazzik commented on #557
@aloisdg there was explanation on the original implementation why we stick with the pre 1990 orthography

[2016-05-29 13:31] #538 closed

[2016-05-29 13:32] #557 closed

[2016-05-29 13:41] #548 closed

[2016-05-29 13:41] #541 closed

[2016-05-29 13:45] michaeldimoudis commented on #556
Ok I’m not sure how crazy this is, but I got it working.

Am only successfully on the Mac so far. In my Droid project I have these enabled:
- Embed assemblies in native code
- Enable ProGuard
- Enable Multi-Dex
- (also tried with and without Enable AOT & Enable LLVM Optimizing Compiler)

Now here is where the magic happens.

1. In Xamarin Studio rebuild the Droid solution in Release mode.
2. When

[2016-05-29 15:11] aloisdg commented on #557
@hazzik Ok. It could be nice to add this somewhere (docs, comments, etc.)

[2016-05-29 23:42] jonpryor commented on #556
That means you're not using mkbundle. The purpose of mkbundle is to *prevent* the assemblies from being embedded *as assemblies* in the `.apk`. (Instead, they're zipped and compressed into a native library. They still exist, they're just *slightly* harder to find.)

[2016-05-31 00:53] aloisdg commented on #558
I also could write others translations in Esperanto if needed.

[2016-06-01 14:49] jnm2 commented on #555
Now that I think about it, users might expect `enumerable.Humanize()` to skip null entries entirely. It isn't very human to display `A, , , B, and C`. I'd expect each item to be trimmed and null-or-empty items to be skipped so as to avoid the comma. What do you think?

[2016-06-01 15:27] aloisdg commented on #555
@jnm2 I agree with your behavior as default if we use a flag to allow something else. An enum like [`StringSplitOptions`](https://msdn.microsoft.com/en-us/library/system.stringsplitoptions(v=vs.110).aspx) can to the trick:

| Member name        | Description                                                                   |
|--------------------|---------------------------------------------------

[2016-06-01 15:49] jnm2 commented on #555
What about this:

[code]

[2016-06-03 12:55] jnm2 commented on #555
@onovotny Need some direction- how configurable should this be? Don't want to go overboard.

[2016-06-03 12:59] onovotny commented on #555
The options you have there seem ok -- I agree there's no need to go overboard, we can always add more later if we need.

[2016-06-03 13:25] jnm2 commented on #555
Specifically you're okay with an optional StringJoinOptions as defined [here](https://github.com/Humanizr/Humanizer/issues/555#issuecomment-223036612) with a default value that would trim all items and remove empty ones? What would the new default mean for back-compat and versioning?

[2016-06-03 13:39] MrKWatkins commented on #404
I have a similar need; I have some words that have special capitalisation (brand names in my case) which I don't want altered. For example I would want "RoboCopIsAGreatFilm".Humanize() to output "RoboCop is a great film" and not "Robo cop is a great film".

[2016-06-06 09:36] Camuvingian opened #560 "de-DE `ToQuantity` Support"
In LinqPAD, I do the following

[code]

which outputs:

This is right apart from the pluralization of "der Mann", which should be "die Männer" (or something similar. I don;t speak German but I know appending an "s" in this case is not correct. Is there full support for German in this case or am I not using the code correctly?

Thanks for your time.

[2016-06-07 06:25] mexx commented on #560
Currently there is no build in support for other languages then English for `Pluralize` or `Singularize`, which are used internally by `ToQuantity`.
However you could feed the used `Vocabulary` with the rules you require, something like `Humanizer.Inflections.Vocabularies.Default.AddIrregular("Mann", "Männer")`.
Please note that all rules will be applied to the input in any language.

[2016-06-07 06:40] hazzik commented on #560
I think we need to move English-only extensions into a separate namespace.
On Tue, 7 Jun 2016 at 6:25 PM, Max Malook <notifications@github.com> wrote:

[2016-06-07 17:43] Spiralis commented on #534
Even when installing Humanizer.Core alone, 15 (!) additional dependencies are installed:
- System.Linq
- System.Reflection.Extensions
- System.Reflection.Primitives
- System.Resources.ResourceManager
- System.Runtime
- System.Collections
- System.Diagnostics.Debug
- System.Globalization
- System.Runtime.Extensions
- System.Text.Encoding
- System.Threading.Tasks
 -System.IO
- System.Reflection
- Sy

[2016-06-07 18:26] onovotny commented on #534
Hi @Spiralis, this is part of `dotnet` and  `.NET Standard`, where packages have to define their dependencies. `packages.config` is old and slow; my suggestions, if possible, would be to follow my blog post (above) for how to convert your project/solution to use `project.json` for packages. `project.json` can be used with any project type and is much easier.

[2016-06-07 20:46] dotnetchris commented on #534
Address by updating readme https://github.com/Humanizr/Humanizer/pull/561

[2016-06-07 21:09] dotnetchris commented on #533
For future readers, if you don't want to dump a hundred lines of configuration into your web.config (i sure don't want to) this is all that was necessary

[code]

You might want to double verify your web.release.config or other transforms that they will properly respect these changes. The default

[code]

should be directly compatible, but if you changed it to `xdt:Replace` or other transforms you

[2016-06-08 17:37] hangy commented on #532
This seems to be caused by [`PascalCaseWordPartsRegex`](https://github.com/Humanizr/Humanizer/blob/dev/src/Humanizer/StringHumanizeExtensions.cs#L17) being limited to A-Z, a-z and 0-9 when it comes to word characters. I think `\w` (which should be Unicode aware and should also match other diacritics like ē) is most likely not used, as it would also match `_`?

[2016-06-09 10:47] schungx commented on #521
After reading this, I just spent half an hour manually removing all the locales that I don't use, one-by-one, by hand.  VS only works on one NuGet package at a time.

There should be clear instructions on installing only Humanizer.Core for only English support, or Humanizer for the full thing.  Maybe renaming it to Humanizer.AllLocales will be clearer...

There really should be a sign, in bold cap

[2016-06-13 06:43] anjdreas commented on #534
@onovotny Converting from `packages.config` to `project.json` is not a trivial undertaking for ASP.NET apps, that out of the box rely on a big set of nugets. Several of them, like jquery, have content files that are not compatible with `project.json` AFAIK.

I believe it is recommended that nuget libs cater for both `packages.config` and `project.json` scenarios, by defining dependencies for both

[2016-06-14 11:11] gerektoolhy opened #562 ""callback".Singularize() returns null"
`"callback".Singularize()` returns `null`.

I expect this to return "callback".

[2016-06-15 09:21] mak5 opened #563 "LetterCasing truncates the frensh caracters "é,è..." of a string"
I used Humanizer to lower case a frensh word "Ajouté" the result was ajout rathar than "ajouté"

[2016-06-15 09:34] aloisdg commented on #563
@mak5 Hello. Can you add more information and a way to replicate your problem?

[2016-06-15 09:42] mak5 commented on #563
ok, I have an Enum in c# like this:
`public enum ActivityTypes
    {
        Ajouté,
        Modifié,
        Activé,
        Désactivé
    }`

I traied to lower case the value of the enum:
`var type = ActivityTypes.Ajouté.Humanize(LetterCasing.LowerCase)`

I got type = "ajout"

the culter of my asp.net mvc is "fr-FR"

and I reference Humanizer as a projet in my solution (downloaded from github)

[2016-06-15 09:56] aloisdg commented on #563
Which one did you take? Can you try to use NuGet instead.

[2016-06-15 10:09] mak5 commented on #563
I downloaded the zip file of this project "Humanizer-dev" 2 days ago
the reason why i didn't used NuGet is because it doesn't humanize the TimeSpan with "fr-FR" culture (result always in english)

[2016-06-15 10:25] aloisdg commented on #563
@mak5 ok. I asked just in case you were using the Core version.

It might be a problem from the lib since

    string s = ActivityTypes.Ajouté.ToString();
    Console.WriteLine(CultureInfo.CurrentCulture.TextInfo.ToLower(s));

is working great.

[2016-06-15 10:43] mak5 commented on #563
So is it a bug ?

[2016-06-15 11:31] aloisdg commented on #543
In `src/Humanizer.Tests.Shared/Localisation/fr/DateHumanizeTests.cs`:

[code]

To allow this we have to change it in the Resx file `/src/Humanizer/Properties/Resources.fr.resx` :

[code]

If we change this, I guess we are will have to change the other resx too. If something like this would fit:

[code]

[2016-06-15 12:23] aloisdg commented on #563
Speaking as a french guy and with my own voice, I would say that to use a french word in a english program is a bug in itself. At least, a huge warning. I guess you have your reasons and after all .NET seems to allow it. 😄

I think it would be nice if Humanizer handles this kind of fantasy since .NET allows it.

If you want to dig it, clone the project. Look for `EnumUnderTest` and your custom ele

[2016-06-15 18:17] hangy commented on #563
`EnumHumanizeExtensions` basically calls `ActivityTypes.Ajouté.ToString().Humanize()` in this case, which boils down to the same underlying problem as described in #532.

[2016-06-15 18:26] hangy commented on #562
`"callback".Singularize(false)` returns `"callback"`.

The optional parameter `inputIsKnownToBePlural` defaults to `true`, so it expects "callback" to be a plural. If you're not sure if the input is a plural, then pass `false` to return the original word, if none of the plural rules apply.

[2016-06-15 19:56] dariusdamalakas commented on #562
@hangy , yup, thats what i've done. Still, returning null is what I would never expect calling on a non-null string.

[2016-06-17 14:07] ghost opened #565 "Could not install tbb.redist"
Could not install package 'tbb.redist 4.2.3.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.2', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2016-06-21 18:59] jnm2 commented on #555
Wow, looks like using the # sign in commit messages doesn't go well with force-pushing to a fork. Sorry.

[2016-06-23 12:18] b0bben commented on #380
Any news on the fix from MS side?

Thx.

[2016-06-26 19:56] onovotny opened #567 "Ship Humanizer 2.1"
Issue to track shipping Humanizer 2.1.

In addition to the bug fixes since `2.0.1`, this version will support `netstandard`. As such, it will also require a minimum NuGet version of `2.12` to install correctly.

@hazzik @aloisdg @mexx  Please add items to this list that need to be complete before we ship.

- [x] Merge in `netstandard` branch
- [x] Ensure assembly versions are updated #535
- [x] Mo

[2016-06-26 20:07] onovotny commented on #535
I just double-checked the CI feeds and the assembly version matches the nuget ver

[2016-06-26 20:07] #535 closed

[2016-06-27 01:11] aloisdg opened #568 "Push MPL2 code"
Hello,

*tl;dr* : Can I use MPL2 for my code? Can I move my passed contribution from MIT to MPL2?

I made an Esperanto NumberToWords named Numbro. Numbro's  is inspired by the english implementation of NumberToWords (MIT) from Humanizer. I licensed Numbro's code and tests under MPL2. Do you allow me to push it as MPL2 or you prefer to have only MIT code in Humanizer?

I shared MetricNumeralExtensi

[2016-06-27 01:33] aloisdg commented on #567
I am working to port [Numbro](https://github.com/aloisdg/Numbro) to Humanizer. The related issue is  #558. The PR should be ready as soon as  #568 is fixed and I [achieve to build](https://gitter.im/Humanizr/Humanizer?at=5770718e1ac8bd1a4d613cef) 😄

Also:

-  I want to support Esperanto DateTime, but the code doesn't exist yet.
- The support for the french "avant-hier/" and "après-demain" will be

[2016-06-27 01:45] onovotny commented on #568
It would be very difficult to maintain multiple different license types for a project. I'm going to have to say that we'll need to stick with MIT-licensed code for all of Humanizer.

Thanks!

[2016-06-27 01:45] #568 closed

[2016-06-27 01:48] aloisdg commented on #568
Ok no problem!

[2016-06-27 01:51] hazzik commented on #568
MPL2 is more restrictive than MIT, so, it would effectively infect the project. So, I oppose it.
But, as you are the creator of the Numbro it shall be not a problem to re-license the parts of the code contributed here to the MIT license.

[2016-06-27 01:54] aloisdg commented on #568
@hazzik It was my plan. :)

[2016-06-27 01:58] hazzik commented on #567
I would like to nominate following:

- [ ] Modified PascalCaseWordPartsRegex to accept more "word characters" #564
- [ ] Handling of null, blank and untrimmed collection items #566
 - [ ] Resolve the issue with overloads instead of optional arguments

[2016-06-27 12:19] aloisdg commented on #567
@onovotny Can you update the milestone in each issue/PR?

[2016-06-27 13:28] aloisdg commented on #567
I would like to propose #518 by @i3arnon (PR: #519)

[2016-06-27 22:45] hazzik commented on #567
What if we just let the GitVersion decide what version is going next?

[2016-06-27 23:10] hazzik opened #570 "Update contributing guidelines with usage of +semver hints"
We are using the GitVersion, and it supports the automatic SemVer calculations.
We need to update [CONTRIBUTING.md](https://github.com/Humanizr/Humanizer/blob/dev/CONTRIBUTING.md) and  [PULL_REQUEST_TEMPLATE.md](https://github.com/Humanizr/Humanizer/blob/dev/.github/PULL_REQUEST_TEMPLATE.md) to include the information on how to use this feature.

[2016-06-30 16:02] rlightner opened #571 "Minimize verbosity of Timespan formatting."
Is there a way to use duration abbreviations when Humanizing a TimeSpan? I'd like to use mins instead of minutes etc..

[2016-07-01 14:26] rubenslopes opened #572 "Titleize is removing accented characters in Core.pt 2.0.1"
Hi,

this happens,

`Console.WriteLine("rubens armôa lopes".Titleize()); //Rubens Arm A Lopes`

while the expected is,

` Console.WriteLine("rubens armôa lopes".Titleize()); //Rubens Armôa Lopes`

Thank you for create and maintain such a great library

[2016-07-03 01:13] onovotny commented on #567
@hazzik GitVersion is just a tool...it does whatever we want it to be. In general, here's a good take on it:
https://docs.microsoft.com/en-us/dotnet/articles/core/versions/index#semantic-versioning

By that logic, it feels like a 2.1 for this release.

[2016-07-03 01:43] #518 closed

[2016-07-03 22:29] hazzik commented on #567
I know that this shall be a 2.1. But what I'm trying to say: we do `+semver:` hints on commits, and just release whatever version is calculated by GitVersion.

[2016-07-03 22:33] #555 closed

[2016-07-03 22:34] hazzik commented on #567
Hey-hey. I've merged #566. :ship: the 2.1.

[2016-07-03 22:37] hazzik commented on #572
Closed as duplicate of #532.

[2016-07-03 22:37] #572 closed

[2016-07-03 22:39] hazzik commented on #563
Closing as duplicate of #532.

[2016-07-03 22:39] #563 closed

[2016-07-03 22:41] onovotny commented on #567
I generally tag the final version and that will automatically set it in GitVersion

[2016-07-03 22:43] hazzik commented on #543
"Two days from now" and "two days ago". Is ok for me.

[2016-07-03 23:06] hazzik commented on #532
Fixed by #564

[2016-07-03 23:06] #532 closed

[2016-07-03 23:17] aloisdg commented on #543
@hazzik Should I implement it for v2.1?

[2016-07-03 23:19] hazzik commented on #543
If you can implement this in next day or so, I would say yes. If no - please hold till 2.2/3.0.

[2016-07-03 23:24] aloisdg commented on #543
Don't wait for it. I should have some times Tuesday, but I cant be sure. It is not a critical issue. It can wait.

[2016-07-03 23:31] hazzik commented on #543
- RU (Russian)
  - Two days from now => "послезавтра"
  - Two days ago => "позавчера"
- UK (Ukrainian)
  - Two days from now => "післязавтра"
  - Two days ago => "позавчора"
- ES (Spanish)
  - Two days ago => "anteayer"
- IT (Italian)
  - Two days ago => "avantieri"
- SV (Sweden)
  - Two days from now => "övermorgon"
  - Two days ago => "förrgår" ("i förrgår")
- DE (German)
  - Two days from now =

[2016-07-03 23:53] onovotny commented on #567
Note that Humanizer is completely broken on dotnet CLI due to this: https://github.com/dotnet/cli/issues/3396

Try it today with the MyGet/CI feed; you cannot restore it into an xproj.

[2016-07-04 00:29] onovotny commented on #567
I may have a workaround for this that I'm testing -- a `Humanizer.xproj` package that has all of the files and resources in the same package (like Humanizer 1.x did before the split). This should work but I'll verify. I'll nuke the package once the cli bug is fixed or things transition to msbuild in the fall.

[2016-07-04 00:42] hazzik commented on #543
As I understand we have some issues with netstandard 1.0, so you should
have enough time to implement this.
On Mon, 4 Jul 2016 at 11:24 AM, Alois <notifications@github.com> wrote:

[2016-07-04 00:47] onovotny commented on #567
Confirmed, the `Humanizer.xproj` works. Now just need docs and release notes and we're good to go.

[2016-07-04 01:13] #567 closed

[2016-07-04 01:41] onovotny commented on #567
2.1 has been pushed to NuGet. Should be visible soon.

[2016-07-04 03:25] hazzik commented on #543
~~As I understand we have some issues with netstandard 1.0, so you should have enough time to implement this.~~
The 2.1 was shipped, so next minor version.

[2016-07-15 10:32] IlSocio opened #573 "Humanizer.Core 2.1.0 breaks compatibility with PCL Profile 259"
Hi,
I was using Humanizer.Core v2.0.1 within a PCL Profile 259
After upgrading to v2.1.0 the project doesn't compile anymore due to the errors below.
It seems you've upgraded Humanizer to the new NetStandard target, but it can't be referenced anymore from a PCL Profile 259

[code]

[2016-07-15 11:35] onovotny commented on #573
Hi,

What version of Visual Studio and what version of NuGet do you have?

The Humanizer 2.1 packages require at least NuGet 2.12 when using VS 2013 and at least 3.4 on VS 2015 Update 3.

Humanizer, and any `netstandard1.0` library, will install into a PCL 259 project.

[2016-07-15 12:04] IlSocio commented on #573
I'm using Visual Studio 2015 - Update 3 and NuGet 3.4

According to this link:
https://xamarinhelp.com/dot-net-standard-pcl-xamarin-forms/
".NET Standard Libraries can reference Profile Based PCL’s but a Profile Based PCL can’t reference a .NET Standard Library PCL (not that I know of anyway)."

Indeed, I can't install AutoMapper:
"Could not install package 'AutoMapper 5.0.2'. You are trying to in

[2016-07-15 12:30] IlSocio commented on #573
I just created the a test-solution for this issue:
https://github.com/IlSocio/HumanizerTest

The PCL_NetStandard compiles successfully, while the PCL_259 doesn't

[2016-07-15 12:59] onovotny commented on #573
Okay, found the root cause. First, that link is wrong. Netstandard does work with PCL 259, you can try installing System.Reactive to prove that.

Second, the real issue is that the wrong `TargetFrameworkAttribute` is on Humanizer for some reason. The value is `.NETPortable,Version=v5.0` when it should be `.NETStandard,Version=v1.0`. That's why it's failing.

[2016-07-15 13:54] IlSocio commented on #573
Thank you Oren, understood :+1:

[2016-07-15 15:18] fleed opened #574 "Difference Dasherize and Hyphenate"
Is there a difference between Dasherize and Hyphenate?

If not, how can I convert a string like "ThisIsMyString" to "this-is-my-string"? Should I do something like this

`"ThisIsMyString".Underscore().Hyphenate()`

?

[2016-07-21 09:07] johannes-schmitt opened #575 "not installable for projects that targets .NET client profile"
Humanizer.Core cannot not be installed (via NuGet) if the the project targets ".NET Framework 4 Client Profile" or ".NET Framework 3.5 Client Profile" (see attached screenshots)

![error_with_3 5_client_profile](https://cloud.githubusercontent.com/assets/9046926/17017346/4e457744-4f33-11e6-9e34-eeec7de609f7.PNG)
![error_with_4 0_client_profile](https://cloud.githubusercontent.com/assets/9046926/17

[2016-07-21 11:30] hangy commented on #575
([Source](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#observations))

By targeting netstandard1.0, this basically makes Humanizer incompatible with .NET <= 4.0.

[2016-07-21 12:09] onovotny commented on #575
Humanizer 2.x has been .NET 4.5+ only. For earlier versions, I would recommend using the 1.37 version.

[2016-07-21 14:17] johannes-schmitt commented on #575
Thanks for the quick reply and thanks for the clarification.

[2016-07-21 14:17] #575 closed

[2016-07-29 15:47] talynone commented on #575
Does Humanizer support .Net Core 1.0? I believe .Net core is supposed to implement the .NET standard library, but when I try to compile a project with the Humanizer Nuget package I get the following error:

"Error NU1002	The dependency Humanizer.Core.bn-BD 2.1.0 does not support framework .NETCoreApp,Version=v1.0."

[2016-07-29 15:48] talynone opened #577 ".NET Core 1.0 Support?"
Does Humanizer support .Net Core 1.0? I believe .Net core is supposed to implement the .NET standard library, but when I try to compile a project with the Humanizer Nuget package I get the following error:

"Error NU1002 The dependency Humanizer.Core.bn-BD 2.1.0 does not support framework .NETCoreApp,Version=v1.0."

[2016-07-29 16:06] onovotny commented on #577
It may be related to this:
https://github.com/dotnet/cli/issues/3396

There's a bug in the CLI tools

[2016-07-30 10:39] Korayem opened #578 ".Humanize() on "Arabic" letters returns empty string (or any other casing)"
I have an app where string being humanized could be of any culture.

I have Thread Culture properly set to Arabic.

Expected behavior: It should return exact same string.

[2016-07-30 10:48] hazzik commented on #578
Could you please check 2.1?

[2016-07-30 10:49] Korayem commented on #578
Ok

[2016-07-30 10:50] Korayem commented on #578
Using Xamarin Studio 6 and getting following error while upgrading:

[2016-07-30 10:52] hazzik commented on #578
@onovotny is there any chance to back-port #564 to 2.0.x and 1.x branches?

[2016-07-30 11:25] Korayem commented on #578
Never mind, I switched to Visual Studio to update the nugets to v2.1. It's still occurring. The values returned are empty string.

I have installed
* Humanizer.core
* Humanizer.core.ar

[2016-07-30 14:07] onovotny commented on #578
For Xamarin Studio, you need to be on the beta channel.

[2016-07-30 14:34] Korayem commented on #578
@onovotny kindly read my comment above. I switched to VS to update the nugets but still same problem with me

[2016-07-30 15:12] onovotny commented on #578
We'll need more information to diagnose. What project type, what does your solution look like, what does your project look like?

[2016-07-30 19:51] Korayem commented on #578
HYG

[code]

[2016-07-30 20:49] onovotny commented on #578
What kind of app is this? .NET 4.5 or .NET Core App 1.0?

[2016-07-30 23:16] Korayem commented on #578
@onovotny  .net 4.6.1 command line as shown in `packages.config` above

[2016-07-31 10:11] hangy commented on #578
These characters are of the [Unicode category "Letter, Other"](http://www.fileformat.info/info/unicode/category/Lo/list.htm) and currently not matched by [the regex](https://github.com/Humanizr/Humanizer/blob/39f3aa5cfc43524ab23302e8407c9ecf8ad23cdd/src/Humanizer/StringHumanizeExtensions.cs#L17). The easiest fix would be to pass them through as-is, but I can't say if that's enough to "humanize" Ar

[2016-08-01 12:04] escamoteur opened #579 "Relative offsets for DateTime.Humanize (ago vs. before)"
Hi,

I'm faced with the following problem.

When using  DateTime.UTCNow.AddYears(-1).Humanize()
I get "1 year ago."

The same happen when I use other Dates than today. But shouldn't it then be "1 year before" as it's not relative to today but some other date? The same goes for other Languages.

Best
Thomas

[2016-08-02 12:13] abdulateef commented on #565
thanks EgleValk, but i think since the framework is higher than the version of the package  it should accommodate it.So try the following process to be sure you have done the right thing
1. open visual studio
2. click on tools and then nugget management
3. click the console
4 after the pm>
5. type "Install-Package tbb.redist"
then enter.
 if this process doesn't work then contact the package autho

[2016-08-03 06:05] darylbehrens commented on #571
Can you please show a code example of what you are doing?  Thank you.

[2016-08-03 15:01] rlightner commented on #571
@darylbehrens Who was that directed at?

[2016-08-04 16:55] masaeedu commented on #112
@MehdiK Would you be willing to special case it for English? There have been some excellent efforts at porting libraries like Chronic to .NET (https://github.com/robertwilczynski/nChronic) but it would be great to have this integrated with an actively maintained library. I haven't looked at the internals of Humanizer, but I'm hoping it is possible to identify date keywords (e.g. yesterday/today et

[2016-08-12 03:08] dealdiane opened #580 "Question: Is there an out-of-box way to use "no" instead of "zero" when using ToQuantity?"
Is there a way so that calling `$"You have {"item".ToQuantity(0, ShowQuantityAs.Words)}"` would return "You have **no** items" instead of "You have **zero** items"?

[2016-08-12 09:21] aloisdg commented on #580
Just as a small hint, I think interpolation string here is a bit useless.

[2016-08-12 21:01] dealdiane commented on #580
Yeah, I agree. The only reason for that is because I personally find it simpler to read/represent (here in github) what I'm trying to do than using `+`.

[2016-08-19 08:14] aequasi opened #583 "TimeSpan.Humanize does not behave as expected"
WIth the following timespan of: `296.19:32:06.8100684`

Using the following code:

[code]

I would expect the output to be: Something around 9 months, etc. But instead, it shows `2 days`

[2016-08-19 16:27] hangy commented on #583
Apparently not implemented, yet:
https://github.com/Humanizr/Humanizer/blob/cd5bbaca80a640bf9d623b52b55d54e3e516b4a8/src/Humanizer/TimeSpanHumanizeExtensions.cs#L16
https://github.com/Humanizr/Humanizer/blob/cd5bbaca80a640bf9d623b52b55d54e3e516b4a8/src/Humanizer/TimeSpanHumanizeExtensions.cs#L113

[2016-08-19 17:00] aequasi commented on #583
Ah, well that is disapointing

[2016-08-24 19:00] sushihangover opened #584 "Transform(To.TitleCase) inconsistent transformations(?)"
I am seeing inconsistent transformations when using `To.TitleCase` with all capital strings, but if I transform them to lower case and than use title casing the results are correct:

[code]

No Change:

[code]

Transform stops after first hyphenated word:

[code]

Only second word is transformed:

Version:

[2016-08-24 20:28] hazzik commented on #584
Works [almost] as designed. All caps words treated as abbreviations and
skipped. IMO only incorrect behavior is last one, where it treats colons as
a part of the word.
On Thu, 25 Aug 2016 at 7:00 AM, Robert N. <notifications@github.com> wrote:

[2016-08-25 02:21] sushihangover commented on #584
Thanks for the info, need to RTFC ;-)

I'm using Humanizer for mainly "computerized" strings (_amazing collection of extensions_!) but since I already had it available in this project, figured I use for some 'normal' strings transformations...

I'll roll my own title casing for this case to avoid the extra string mutations.

[2016-08-27 16:46] DotNetRockStar opened #585 "Singularize Bug; InflectorExtensions.Singularize("cookies")"
Hi there.  There are some words that seem to be coming out incorrectly and I was wondering if there is another way I can use this to get more accurate results.

[code]

The above code results in humanizedWord equal to "cooky" instead of "cookie".

Thanks in advance
- Jerrod

[2016-09-04 11:01] evansaa1 commented on #571
I'm taking a look at this but when attempting to edit Resources.resx I get the following error: **Could not resolve mscorlib for target framework '.NETPortable,Version=v5.0'.  This can happen if the target framework is not installed or if the framework moniker is incorrectly formatted.** Any idea what might be causing this for me? What should Build Action and Copy To Output directory be set to whe

[2016-09-11 01:35] simo9000 commented on #494
I am also interested in contributing to Humanizer but am running into the same problem as @deap82 indicated above.

[2016-09-15 07:43] syedhassaanahmed commented on #380
A shame this still doesn't work. @onovotny did MS get back to you with an update?

Thanks

[2016-09-27 13:03] aloisdg commented on #584
I think CSS `text-transform:capitalize;` includes something like this too.

[2016-09-27 15:16] philrykoff commented on #533
I am having the same issue in a Windows Forms application. Adding the following to App.config does not help:

[code]

Any clues?

[2016-09-29 12:30] wldevries opened #587 "Allow querying whether specified locale is supported"
We have at least one (korean) locale that is not yet supported by Humanizer. We would like to fallback to dumb DateTime.ToString formatting in these cases. Currently as far as I can see you cannot query whether a locale is supported.

With that in place I could create a proxy IDateTimeHumanizeStrategy that implements a custom fallback instead of reverting to english.

[2016-09-29 17:20] aloisdg commented on #587
If you speak korean, a review is needed on #509 ;)

[2016-09-30 13:07] wldevries commented on #587
Unfortunately not, but I saw the PR 👍

[2016-10-12 21:09] MobileRez commented on #573
I am getting this as well when Using Humanizer with VSTS build host. Its the only package that fails. with error:

It also didn't start giving me this warning till I added humanizer.core

I thought changing from nuget version 3.3.0 to version 3.5.0.1829 / 3.5.0-rtm-1829 would solve this, but It did not.

Its working fine when debugging locally so it may be another issue, but this is currently brea

[2016-10-12 21:11] MobileRez commented on #573
I am getting this as well when Using Humanizer with VSTS build host. Its the only package that fails. with error:

It also didn't start giving me this warning till I added humanizer.core

I thought changing from nuget version 3.3.0 to version 3.5.0.1829 / 3.5.0-rtm-1829 would solve this, but It did not.

Its working fine when debugging locally so it may be another issue, but this is currently brea

[2016-10-12 21:52] aloisdg commented on #136
Any update on this?

[2016-10-15 20:01] onovotny commented on #573
This was a bug that they fixed in the latest VS 2015 Update 3 KB. Can you please verify that you have Update 3 *and* the latest hotfixes for it?

https://msdn.microsoft.com/en-us/library/mt752379.aspx

You can see it listed under "Issue 12" of the 9/14/2016 update.

[2016-10-15 20:02] onovotny commented on #577
Have you tried the `Humanizer.xproj` package? I created that as a workaround for this. Please re-open if this is still an issue.

[2016-10-15 20:02] #577 closed

[2016-10-15 20:07] #578 closed

[2016-10-17 12:33] IlSocio commented on #573
I just checked using the latest Update 3 and the issue is gone! Thank you Oren :)

[2016-10-17 14:18] #573 closed

[2016-10-25 12:00] aateeque opened #591 "Offer way to extract acronym from string"
Wonder if there is a way in the library to extract acronyms from strings? And if there isn't, would it be something of interest? For example "Laughs out Loud" to "LOL" etc

[2016-10-25 14:30] aloisdg commented on #591
As far as I know, there is no way to achieve this. Acronym can be tricky and opinionated.  I think the best way would be to check the input against a dictionary of well known acronyms. But we could still implement something simple as a go to solution. or use both.

[2016-10-25 21:38] aateeque commented on #591
Yeah, guess we could do a default and provide customisation options?

[2016-10-25 21:43] aloisdg commented on #591
@aateeque Yes why not.

[2016-10-25 21:44] aateeque commented on #591
Cool, I'll knock something together, thanks

[2016-10-26 20:48] hazzik commented on #573
@onovotny but, shal it be still `.NETStandard,Version=v1.0`?

I think the issue with the `.targets` file inclusion.

[2016-10-28 14:31] Joev- commented on #533
I just came across this issue today also. I understand the problem and the fix, but I am curious why I needed to add the compilation assembly reference now. As far as I understand Humanizer has always been a PCL, and as such this would always have been a problem?

[2016-10-30 14:52] Alexander882 opened #592 "ByteSize does not follow the IEEE 1541 standard"
The ByteSize struct uses values such as kilobyte = 1024 byte, whereas the official IEEE 1541 standard dictates that a kilobyte = 1000 bytes, and **kibi**byte = 1024 bytes, and so on. [Wikipedia Link](https://en.wikipedia.org/wiki/Kibibyte).

Also, the SI unit kilo- is normally shortened with a lowercase k, not a capital K.

I will happily fix these issues myself, but it might be seen as a bit of a

[2016-10-30 15:05] aloisdg commented on #592
Hello,

Thank you for pointing this. I think it should be corrected. If it is a breaking change and a good one, we will still add it, just later on.

[2016-10-30 15:07] Alexander882 commented on #592
Okay, I'll fix it and send in a pull request with my changes then.

I've also realized a few other things about the ByteSize struct, especially the TryParse method:
- It does not accept negative values.
- It throws an exception when passed a **null**- or empty value. The normal TryParse methods (such as long.TryParse) just return false when passed **null** etc.

[2016-10-30 15:24] aloisdg commented on #592
Even better. Please dont forget to add unit tests to show all of this.

[2016-11-01 16:29] tiesmaster opened #593 "Add overload for specifying the culture for Ordinalize() extension method"
Most extension methods have support for overriding the culture, however `Ordinalize()` doesn't have that. For example, `ToOrdinalWords()` gives you the opportunity to specify it, like this:

[code]

It would be nice if you have that overload for `Ordinalize()` as well.

[2016-11-01 16:59] aloisdg commented on #593
Hello,

Indeed, it could be nice. Would you submit a PR for this?

[2016-11-01 20:04] tiesmaster commented on #593
Cool, I just had a look. Though, I was wondering about how to add it. Although, I only need a new extension method to specify the `CultureInfo` for the `Ordinalize(int)` method, I've noticed that there are a number of overloads (4 overloads, to be exact) for this extension method for accepting a `string`, and `Gender`.

Shall I only add a new one: `Ordinalize(int, CultureInfo)`, or add a new overl

[2016-11-01 20:20] tiesmaster commented on #593
I've got some [preliminary work](https://github.com/tiesmaster/Humanizer/tree/issue593-add-culture-overload-for-ordinalize). How does that look?

[2016-11-01 23:06] aloisdg commented on #593
Looks good. Can you open the PR?

[2016-11-02 09:54] tiesmaster commented on #593
So, if I understand you correctly, you might want to go the route of adding `CultureInfo` to all overloads (either with optional arguments, or by making sure backwards compat maintains), but you want me to put the commit in a PR, so we can start off with discussing it there. Sure, I can do that.

BTW Roslyn follows [this mechanism](https://github.com/dotnet/roslyn/blob/master/docs/Adding%20Optiona

[2016-11-09 15:50] JonPSmith commented on #583
Yes, disappointing as no warning that this would happen.

[2016-11-09 16:11] aloisdg commented on #583
Indeed I think it should be loud too. Better, it should be implemented! 😉

@JonPSmith Could you look into it? Thank you ☺

[2016-11-10 13:43] JonPSmith commented on #583
Hi @aloisdg,

I have participated in a few projects, but I'm on two contracts at the moment so I don't have the time at the moment.

[2016-11-10 13:57] aloisdg commented on #583
@JonPSmith No problem!

[2016-11-14 09:00] cuongdn opened #596 "Can not add Humanizer 2.1.0 in Class library (.Net Core)"
Hi
I am using VS 2015 Update 3	to create a Class Library (.Net Core), then using package manager to add Humanizer.

Output package manager
[code]
Output error list

project.json
[code]

How can I fix this issue? Thanks

[2016-11-14 09:09] cuongdn commented on #596
Sorry for my mistake. I add "Humanizer.xproj": "2.1.0" and it worked

[2016-11-14 09:09] #596 closed

[2016-11-21 19:03] lzybkr opened #597 "Croatian localization of TimeSpan fails with >1 day"
My repro is using PowerShell, but there is a null reference exception when the number of days is > 1 and the culture is `hr`.

[code]

[2016-11-22 23:01] hangy commented on #597
Interesting. There seem to be some special resources for different plurals in the Croatian language (see https://github.com/Humanizr/Humanizer/blob/a204909f36c18bfed2d9b399a5b2f55e9fe41dda/src/Humanizer/Localisation/Formatters/CroatianFormatter.cs#L5). There is no `TimeSpanHumanize_MultipleDays` resource in https://github.com/Humanizr/Humanizer/blob/a204909f36c18bfed2d9b399a5b2f55e9fe41dda/src/Hum

[2016-11-25 07:11] omar commented on #592
Hey guys, I'm the author of [ByteSize](https://github.com/omar/ByteSize) and peek into this repo every once in a while to see how others use the library and what changes they want.

- In terms of using IEEE 1541, I agree on that front. When I first created the library I picked what most people are familiar with, even though it's technically wrong. I'm still conflicted about making this change as m

[2016-11-28 21:50] hangy commented on #592
This is obviously a breaking change, as callers may depend upon the KB values being based on 1024 Bytes instead of 1000 Bytes for whatever calculations. But it could be added as a non-breaking change in a minor release by adding an `AppContext` feature switch. If the switch is off (default), then 1 KB is 1024 Bytes (current behaviour), and if it's on, then a 1 KB is 1024 Bytes.

Negative values co

[2016-11-29 21:08] lzybkr commented on #597
I don't know Croatian. I found this experimenting with all possible languages to help produce this comment: https://github.com/PowerShell/PowerShell/pull/2689#issuecomment-262035441

[2016-12-01 05:27] omar commented on #592
@hangy, thanks for the suggestion. I went ahead and did a quick spike of the metric byte, [see these lines](https://github.com/omar/ByteSize/blob/metric-byte/src/ByteSizeLib/ByteSize.cs#L11-L25) and the [associated test case](https://github.com/omar/ByteSize/blob/metric-byte/src/ByteSizeLib.Tests/UseBinaryByteProperty.cs).

I opted to use a static field on the actual class because it's more self-d

[2016-12-01 21:22] Emasoft opened #599 "Titleize changes non alphabetic elements of a string"
I need to write a common DateTime interval pattern: "dayname, daynumber month, hours:minutes - hours:minutes". It should work with all languages.

I start with this:

`string interval = dateTimeBegin.Now.ToString ("ddddddddd, dd MMM, HH:mm - ", App.CultureSettings) + dateTimeEnd.ToString ("HH:mm", App.CultureSettings);
`
That results in this kind of string:

"mercoledì, 25 feb, 14:30 - 15:30"

In

[2016-12-01 23:15] hangy commented on #599
I think that's by design. The `Titleize` method [uses](https://github.com/Humanizr/Humanizer/blob/dev/src/Humanizer/InflectorExtensions.cs#L64) the `Humanize` extension internally, and this method strips a lot of non-word characters in order to make texts more readable. If you only want to change the case, then `interval.ApplyCase(LetterCasing.Title)` might be a better match for you.

[2016-12-02 02:09] #558 closed

[2016-12-02 15:03] #597 closed

[2016-12-02 18:35] aloisdg commented on #558
👍

[2016-12-06 16:24] sirfilipef opened #601 "Humanize pt-PT problem"
Doesn't work
`new TimeSpan(0,1,0,0).Humanize(culture: new CultureInfo("pt-PT"));`

Works
`new TimeSpan(0,1,0,0).Humanize(culture: new CultureInfo("pt-BR"));`

Any ideias?

[2016-12-06 22:27] hangy commented on #601
So for some reason, the resource file [`Resources.pt.resx`](https://github.com/Humanizr/Humanizer/blob/b4bab9b31dfd00a70d778a03ce03f5db61ffd2e6/src/Humanizer/Properties/Resources.pt.resx) is in Portuguese, but the formatter is only registered for [Brazilian Portuguese](https://github.com/Humanizr/Humanizer/blob/a204909f36c18bfed2d9b399a5b2f55e9fe41dda/src/Humanizer/Configuration/FormatterRegistry.

[2016-12-06 22:48] sirfilipef commented on #601
Ok I will check it out tomorrow, probably it will be the same.

[2016-12-07 10:32] sirfilipef commented on #601
i confirm the translations in Resources.pt.resx are correct for Portuguese in general

[2016-12-08 18:52] redwards510 commented on #583
Here's a simple test case to illustrate this bug.
`var result_is_6days = TimeSpan.FromDays(370).Humanize(1, null, TimeUnit.Month, TimeUnit.Second, ", ");`

Apparently it breaks going from TimeUnit.Week to TimeUnit.Month

[2016-12-08 20:47] #601 closed

[2016-12-12 16:06] JonPSmith opened #605 "enum with DisplayAttribute but no Description attribute fails"
Hi,

The following code fails on the line `MyEnums.AndThat.Humanize()`.
[code]
I'm not saying its urgent, but thought you should know about it.

[2016-12-12 21:55] hangy commented on #583
I think your PR #603 could be fine. Just check the failing unit tests. It appears that they currently validate that the cases you want to fix do not run, so it's probably just a matter of correcting the current unit tests and expanding them to check for the newly supported changes.

[2016-12-13 06:07] reinhardtb commented on #583
Cool - thanks for the feedback - will check out those unit tests!

[2016-12-14 05:43] ophilbinbriscoe opened #606 "Porting to .NET 2.0/3.5 (Unity)"
Many of these transformations would be indispensable for game development. Would a particular subset of features be more or less feasible? This is something I would look at taking on myself if it's within the realm of possibility. Does the pluralization leverage the .NET pluralizing service?

Thanks for a great library!

[2016-12-14 12:46] onovotny commented on #606
Unity is working on adding support for .NET Standard, so they'll be able to use most of the .NET ecosystem, including this library: https://github.com/dotnet/standard/blob/master/docs/faq.md#will-unity-implement-net-standard

[2016-12-14 22:05] ophilbinbriscoe commented on #606
That is correct. However, there is no firm date on that yet - they've been talking about it for years.

[2016-12-17 20:48] basildk commented on #605
The question is what we want to do in this scenario?

- Return the value of Name (In the example "Not Set")
- Throw a more meaningfull error

[2016-12-18 09:28] JonPSmith commented on #605
Personally I think it should return the Name, but Humaized, as that is what the code would have done if no Description attribute was present, i.e. I think the error is not handling the Attribute not being the one it expected.

[2016-12-30 01:41] Nikey646 opened #607 "Titleize Casing doesn't apply to first word within a bracket"
If the following sentence was run through the Titleize string transformer "my summer vacation (with my family)", it would come out as "My Summer Vacation (with My Family)". Ignoring that the word "my" could start with a lower or upper case M, the "with" is not modified at all.

In some cases, the current output is as expected (EG: "Madonna (written by E. Cales in 1998)"), but in other cases the ou

[2017-01-08 23:53] tarakan12 opened #609 "add .ToMetric() rounding"
would be great to be able to round ToMetric() result so instead of 2.663982M it would spit out 2.66M.
it will take an optional parameter of rounding digits and potentially rounding direction

[2017-01-09 20:35] pratikf commented on #585
I have found another instance where Singularize() acts weird. The word "Analysis" is consider singular, and **"Analysis".Singularize(false)** correctly returns **"Analysis"** back. But if it's joined with another word, it doesn't work.

For example, **"SampleAnalysis".Singularize(false)** returns **"SampleAnalysi"**, with the "s" removed in the end. What's more weird, is once I make this call, sub

[2017-01-13 09:31] devdigital opened #611 "Kebaberize?"
Is there nothing available to convert directly to kebab-case?

It seems you need to do the following:

[code]

[2017-01-13 09:44] aloisdg commented on #611
See [Snake Case](https://en.wikipedia.org/wiki/Snake_case) for more informations.

[2017-01-19 11:00] PatValzer commented on #579
I think that's correct

[2017-01-23 20:45] ChaseFlorell commented on #573
@onovotny I see this is closed, and tagged with "Next Bug Fix", but I'm not seeing a new release. What would we need to do to get this ball rolling?

[2017-01-23 20:49] onovotny commented on #573
The issue was in VS 2015's build. Update 3 + the latest KB's fixed this.

[2017-01-23 21:18] onovotny commented on #611
Happy to take a PR to make this more efficient

[2017-01-26 05:40] imgen opened #613 "Humanizer.Core not working correctly, show localized strings instead of english"
I installed Humanizer.Core
https://www.nuget.org/packages/Humanizer.Core/
But it still display localized strings like Chinese on my Chinese manufactured Android phone which is quite weird.
I read the documentation says that if I only install Humanizer.Core, it will be english. Why is it not the case?

[2017-01-26 05:46] imgen commented on #613
Never mind, it's the issue that I have to uninstall and reinstall the app on the phone for it to work because previously I had the Humanizer package installed which includes the kitchen sink. If I simply install over the old app, the language resources remained.

[2017-01-26 05:46] #613 closed

[2017-01-26 05:51] imgen opened #614 "Ordinalize doesn't work as expected on Chinese version of Android"
I installed Humanizer.Core
https://www.nuget.org/packages/Humanizer.Core/
But calles like
1.Ordinalize()
will return 1 instead of 1st on my Chinese android phone. Why's the case?
I read the documentation says that if I only install Humanizer.Core, it will be english. Why is it not the case?

[2017-01-27 14:39] basinilya opened #615 "[question] speedup test case discovery"
I want to debug multiple times the particular test `TimeSpanWithMinTimeUnit`

When I right click a test in Test Explorer and choose to run or debug the selected test, it takes several minutes to discover all tests before the test actually runs. Is there a way to speed things up?

    [xUnit.net 00:03:50.7515043] Humanizer.Tests: Discovered test case 'ReturnsLargestMetricPrefixLargerThanZero' (ID =

[2017-02-03 11:23] dsaf opened #616 "English verb (Past Participle) tense conversion "x" => "xed" feasibility?"
Is it feasible to do this sort of conversion? Would there be too many exceptions? Too English-specific?

[code]

http://www.englishpage.com/irregularverbs/irregularverbs.html

Use case is command-driven or workflow type of applications where an action results in a state change.

[2017-02-03 11:42] hazzik commented on #616
Same as #58, see conversation there

[2017-02-03 11:42] #616 closed

[2017-02-06 12:26] klaus78 commented on #574
See also #42

[2017-02-06 12:50] aloisdg commented on #574
From @klaus78 's issue :

Also the code explains it better:

[code]

[source](https://github.com/Humanizr/Humanizer/blob/dev/src/Humanizer/InflectorExtensions.cs#L115)

[2017-02-06 12:50] #574 closed

[2017-02-07 07:50] klaus78 opened #618 "Underscore does not separate words starting with no ASCII characters"
`"LandÄgypten".Underscore();`

// wrong output:
// landägypten

// The correct output is
// land_ägypten

[2017-02-07 19:10] julesx commented on #573
I am running VS2015 Update 3  with the latest hotfix linked above and am still experiencing the issue.

[2017-02-08 00:44] JonCubed commented on #609
@onovotny any indication when this can be merged?

[2017-02-08 07:51] aloisdg commented on #609
It looks nice, but the I cant try it. (Can I debug it on Linux?)

[2017-02-12 16:27] akamud commented on #583
Before we start writing any code, we should see how can we convert days to months/years.

A month has 28 days (4 weeks) or 30 days?
A year has 365 or 366 days?

Or should we use the exact value (1 month = 30.436875 days) and round it?

[2017-02-12 16:39] onovotny commented on #583
The challenge with anything date related is that the year and locale often matter. You can use the TimeZoneInfo class to get the rules for how many days a particular year has (leap year) or however many days a month has (per month). But it's hard to do that w/o context.

Not sure the right answer here.

[2017-02-12 20:35] JonPSmith commented on #583
I had a come up with a solution for the project I was on. I found it was really hard to do when staying in `TimeSpan` but I made it work for `DateTime`.

I found the various answers to the stackeoverflow question [Date difference in years using C#](http://stackoverflow.com/a/4127477/1434764) useful. In the end worked out the years using [dana's answer](http://stackoverflow.com/a/4127477/1434764).

[2017-02-12 22:27] hazzik commented on #583
Bare TimeSpan would not make any sense without reference to a fixed point in time. E.g. 366 days is just 366 days.

But 366 days _ago_ can be 1 year or 1 year and a day ago depending on a context.

We need to make sure that we distinguish between bare TimeSpan and TimeSpan as a difference of 2 dates & times.

For a bare TimeSpan we could implement a fuzzy logic, saying that 366 days is _about_ 1 y

[2017-02-12 23:22] akamud commented on #583
I like the idea of using fuzzy logic for bare TimeSpan

[2017-02-13 09:10] aloisdg commented on #583
I think the fuzzy logic is good enough. It could be more precise, but I guess thats fine.

[2017-02-14 13:48] gdoron commented on #136
@hazzik @mexx Is there a reason why you didn't take @Bartmax 's solution?
Do you need a better one from the community?
I'm asking because there's still a `jump-in` tag on the issue, but it hangs dry for almost 3 years now.

[2017-02-14 13:58] aloisdg commented on #136
@gdoron I think we mostly need someone to add tests and a clean PR, if you are motivated ;)

We can improve performance on @Bartmax 's solution and Humanizr own truncator in another PR.

[2017-02-14 15:33] gdoron commented on #136
@aloisdg I'm afraid my hands are full at the moment, we are launching a new product in the next week... and I have 0 knowledge about humanizer except the very basic usage, so I'm afraid I can not accept the task. Sorry. 😢

BTW FYI, @Bartmax, I saw Amazon.com except from truncate on whole words, they also truncate in the middle of numbers, which I think makes a lot of sense in most cases.

[2017-03-03 15:14] MonsterMMORPG commented on #59
i have installed all packages but how do i specify which language to use?
like "araba".Pluralize();

[2017-03-03 15:17] MonsterMMORPG commented on #560
ah i see. i installed this just for pluralize turkish and i see it doesnt support :(

[2017-03-09 06:39] archergod opened #620 "Double Barrel Name conversion"
I like the library but it add a value if you can include Name Casing (I call it like that), along with TitleCase. The idea is to change Double Barrel name and name like `O'Neil` to be properly cased. I wrote a novice function for it using Humanizer itself

       public static string ToNameCase(string name)
        {
            string x = name.Replace("-", " #7# " ).Replace("'", " $7$ ");

[2017-03-09 08:36] buzzware opened #621 "A Visual Studio Mac update broke my Xamarin build with a Humanizer error"
This issue appeared when I updated Visual Studio for Mac. Going back in git history, old code fails the same way, so something has changed in the build process where it no longer accepts Humanizer like it did before.

It sounds a bit like "the real issue is that the wrong TargetFrameworkAttribute is on Humanizer for some reason" https://github.com/Humanizr/Humanizer/issues/573 but it is beyond my

[2017-03-09 09:59] aloisdg commented on #620
So in TitleCase mode, you expect:

    O'Neil

and we get

    O'neil

right?

What if you send "`O'Nei" #7# "l`" to `ToNameCase`?

[2017-03-09 10:03] buzzware commented on #621
The latest Visual Studio for Mac updated to Stable channel has this issue, while the latest Xamarin Studio for Mac does not. Here are their about info contents :

VS for Mac which fails :

=== Visual Studio for Mac Preview ===

Version Preview 4 (7.0 build 1566)
Installation UUID: 6d293865-d662-4140-bf98-1d7bca839a17
Runtime:
	Mono 4.8.0 (mono-4.8.0-branch/f5fbc32) (64-bit)
	GTK+ 2.24.23 (Raleigh

[2017-03-09 12:54] onovotny commented on #621
This looks like a regression introduced with the latest VSfM. It's one that was originally in VS 2015 Update 3 and was fixed in a micro-update afterwards. I've pinged the VSfM team to let them know. The latest version from the CI feed should work though as it was built a different way.

[2017-03-09 13:39] archergod commented on #620
Hey, no I want
`O'neil` to become `O'Neil`

And yes, if we pass that string it will mess, and hence I am not sure how to implement it better. I just know that my source do not have such random string, but not reliable enough, hence I need someone good to improve it.

[2017-03-09 13:53] aloisdg commented on #620
ok. You can trust your source but a public library cant. How a string like `It's my life. O'Neill, O'Donnell and O'Doherty are irish.` or `L'éléphant est rose.` would be handle?

[2017-03-09 14:00] archergod commented on #620
That is why I name it as `NameCase`, I believe it is up to user to use properly. This Transformation is not for String but for Name. Having said It is not intended for sentences but for Fixing Name display on your project. If we go for sentence it will become a natural language parser and that is, for me is beyond the scope of this.

All purpose of Humanizer is that it make small things easy, it i

[2017-03-09 19:24] hazzik commented on #620
I would personally add these names as an exception
On Fri, 10 Mar 2017 at 3:01 AM, Sumit Gupta <notifications@github.com>
wrote:

[2017-03-10 03:23] archergod commented on #620
@hazzik  not sure what you mean by putting name as exception. We are taking about a method to transform a name string in proper case for display. Putting data as exception totally destroy the concept of humanizer itself. Idea of this thread request is to make it easier for other developer to format names properly. which `ToTitleCase` won't do for those two types.

[2017-03-13 22:30] michal-ciechan commented on #571
I would like to use "m" instead of "mins or minutes"

1y, 2m, 4d, 20h, 59m, 12s

[2017-03-13 23:01] michal-ciechan commented on #571
I am thinking of adding the functionality of using short(er) variants.

e.g.

`TimeSpan.FromSeconds().Humanize(short: true)`

or

`TimeSpan.FromSeconds().Humanize(format: TimeSpanFormat.Short)

possibly giving

[code]

I guess these could be as separate keys in the resources, with falling back to the previous if one is not found?

[2017-03-14 09:03] Megasware128 commented on #606
While Unity is still busy I have moved on to Xenko. It feels a lot like Unity, but they do support .NET Standard and C# 6. I hope version 2.0 will use the new project system and C# 7. Might go back to Unity if they finally upgraded.

[2017-03-15 01:40] buzzware commented on #621
Thanks for your reply.

I added https://www.myget.org/F/humanizer/api/v3/index.json as a source and upgraded Humanizer.Core to 2.2.0-beta.41, but the same problem persists.

[2017-03-15 05:04] radical commented on #621
@buzzware Your VSMac info says that it was using an older version of mono. And then you updated it, and tried XS. Could you please try VSMac again with the updated mono and see if it also fails?

[2017-03-15 12:48] AlexKeySmith opened #622 "int64 support"
Hi it would be great to have int64 support for ToWords() to add descriptions to massive numbers.

Keep up the good work!

[2017-03-15 13:22] aloisdg commented on #622
Wiki: [Names of large numbers](https://en.wikipedia.org/wiki/Names_of_large_numbers#Standard_dictionary_numbers)

For example: `9,223,372,036,854,775,807` is ` nine quintillion, two hundred twenty-three quadrillion, three hundred seventy-two trillion, thirty-six billion, eight hundred fifty-four million, seven hundred seventy-five thousand, eight hundred seven`.

A idea could be to convert the big

[2017-03-16 13:00] JonCubed commented on #609
@aloisdg @onovotny I see the pr has been approved, any updates when it can be merged?

[2017-03-23 14:16] xleon commented on #380
Same here on asp.net core application and "es-ES", Humanizer.Core.es 2.1.0 installed.

    Thread.CurrentThread.CurrentCulture = new CultureInfo("es-ES");
    timeSpan.Humanize(2); // produces english results
    timeSpan.Humanize(2, new CultureInfo("es-ES"); // // produces english results

[2017-03-23 14:30] aloisdg opened #623 "Wrongful commit to master. What to do?"
Hello,

After reading the french part of some code. I took the initiative to clean a bit the code directly in the GitHub website and [commit](https://github.com/Humanizr/Humanizer/commit/eb110e56c72b3529cf9a7f649f499499315482a7). I thought that it will create a patch-1 and forgot that I am able to change master directly ! Instead of PR the code was ship directly into master ! The CI run it (and si

[2017-03-23 14:46] onovotny commented on #623
Just reversed -- https://github.com/Humanizr/Humanizer/tree/2f4c37915e51cffa549ce45a0ddeddccd05ef4ee

Some tools like SourceTree allow you to reverse a commit (they do an inverse commit).

[2017-03-23 14:46] #623 closed

[2017-03-23 14:54] aloisdg commented on #623
@onovotny Thank you.

[2017-03-24 17:01] softwareguy74 opened #624 "Humanize Collections with commas only?"
I want a collection to show as "Item 1, Item 2, Item 3" without a string seperator at the last word such as "and" or "or".  I tried collection.Humanize("") but that produces an extra space between the last comma and value.

Can we get this feature added?

[2017-04-02 14:42] softwareguy74 commented on #624
When will this make it to nuget?

[2017-04-10 08:44] mfegerlmedovis commented on #621
@radical still fails with current builds.

[2017-04-11 08:25] okankocyigit opened #625 "CS0455 Error while using Humanizer Extension Methods in view files"
I've a simply code in my index.cshtml,

[code]

Then I'm getting this error ,

[2017-04-14 08:37] wldevries opened #626 "zh-Hant and zh-Hans do not resolve to zh-CN and zh-HK"
We use the mainland China and Hong Kong cultures to indicate the languages. Unfortunately Humanizer only supports zh-Hant and zh-Hans and treats zh-HK and zh-CN as if they are English. They should be mapped to the traditional and simplified cultures.

[2017-04-17 05:39] Bartmax commented on #282
I'm importing data from an external source and want to Title case the data, we allow multiple culture/languages from the source so I also need to pass a culture to the Title casing. What would be a workaround?

[2017-04-18 00:28] onovotny opened #627 "Ship Humanizer 2.2"
This is a tracking item for shipping Humanizer 2.2. @aloisdg @hazzik @mexx please edit this item to list any outstanding issues/PR's that you think should be included.

Let's aim to get a release out in the first week of May if we can.

[2017-04-18 00:30] onovotny commented on #543
@hazzik @aloisdg Can this be done anytime in the next week or so?

[2017-04-18 00:38] onovotny commented on #624
@markpastuszka, can you please submit a PR and include a unit test? would love to get this into 2.2 when we ship it in a couple weeks!

[2017-04-18 00:52] onovotny commented on #592
@omar @aloisdg @Alexander882 any chance we can get this nailed down in the next week or so for 2.2? Aiming to get 2.2 out in the beginning of May.

[2017-04-18 00:55] hazzik commented on #543
Unlikely

[2017-04-18 00:57] onovotny commented on #605
Will be fixed in the next release, thanks @basildk!

[2017-04-18 00:57] #605 closed

[2017-04-18 01:00] hazzik commented on #624
I do not see the reason why this shall be in Humanizer.

What is the difference with the following code:
[code]
?

[2017-04-18 01:09] #609 closed

[2017-04-18 01:09] onovotny commented on #609
@JonCubed I'm aiming to get 2.2 out in early May, thanks!

[2017-04-18 01:31] onovotny commented on #624
@hazzik fair enough, @softwareguy74 is there something more than that? Seems like a simple workaround?

[2017-04-19 08:52] mfegerlmedovis commented on #621
another note: it works just fine with Humanizer 2.0.1 - but not with 2.1.0

[2017-04-21 14:27] softwareguy74 commented on #624
Because it's already in there.  It just needs to be fixed.

On Apr 17, 2017 6:00 PM, "Alexander Zaytsev" <notifications@github.com>
wrote:

[2017-04-23 02:22] natiki opened #629 "Preventing "extension pollution" on base types...."
Hi,

I have just come across Humanizer and it looks great. However as I contemplate folding this into a larger more complex code base I would like to "know" that I am utilizing a Humanizer extension rather than one that comes from elsewhere.

However I see that some methods come straight off the base type and some via the Humanize() static instance.

[code]
Is there a way to *not* have .Transform(

[2017-04-24 15:04] harpsicord86 commented on #611
Has this been added to the nuget package?  Tried to use this with no success!

[2017-04-24 15:36] onovotny commented on #611
Not yet, it will be a part of 2.2 which is going out soon. In the interim, you can always use the CI feed on MyGet as mentioned here https://github.com/Humanizr/Humanizer#install

[2017-05-01 10:34] natiki commented on #629
Bump!

[2017-05-01 18:20] aloisdg commented on #629
I am not sure about my answer, but since you don't have something better for now, I will share an idea.

You could stop using Humanizer with `using Humanizer;` and to rely on `Humanizer.Transform("Some String");`.

[2017-05-02 10:59] erdmenchen commented on #571
This would be awesome to have for DateTimeOffset as well:
"23s ago" instead of "23 seconds ago"...

[2017-05-02 11:45] onovotny commented on #627
Ping @aloisdg @hazzik @mexx?

I'm aiming to get 2.2 out by Friday if possible. Is there anything outstanding that should be in this release? We can also easily do a 2.3 when there's new updates to release (and we don't have to wait 8+ mo's either).

[2017-05-02 11:57] hazzik commented on #627
:shipit:

[2017-05-02 11:58] hazzik commented on #627
Maybe also add #631

[2017-05-02 12:00] hazzik commented on #611
Shouldn't this be closed?

[2017-05-02 12:10] hazzik commented on #620
I mean that you have to have a dictionary with the exception cases (like O'Neil, McDonald, DiCaprio, d'Estaing, etc)

First of all, trying to do anything with names is a very bad idea. It shall be displayed as user have entered the name.
Second, the rules to transform these names are really complicated.

[2017-05-02 12:58] archergod commented on #620
I am sure not many agree with you, Some site allow user to enter name and for design sack and consistency they display them Upper case or lower case or Name Case.

And for name like McDonald, well there is no rule about it, some write it as Mcdonald and some as McDonald, but for name like O'Neil or Double Barrel name it is the way of writing. I know it because my client don't like it when I write

[2017-05-02 20:43] hazzik commented on #620
Because you should stop trying to mess with customers' surnames and let them enter it and display it as is.

[2017-05-02 20:47] hazzik commented on #620
I would say that the only "allowed" (to some degree at least) transformation of customer names is to transform it to all upper case. But even with this "safe" transformation some would not agree that even this is acceptable.

[2017-05-02 20:48] #620 closed

[2017-05-04 01:05] onovotny commented on #328
Merged in https://github.com/Humanizr/Humanizer/commit/3d71fd90cb7fb45028b9697557ec69358d3366cd

[2017-05-04 01:05] #328 closed

[2017-05-04 01:06] onovotny commented on #503
Merged in https://github.com/Humanizr/Humanizer/commit/e88b07ee6a31aa7a0ed1f59e51a1d0edc1b7865a. Additional langs can be added as they're available.

[2017-05-04 01:06] #503 closed

[2017-05-04 06:46] JonCubed commented on #609
@onovotny awesome thanks looking forward to 2.2

[2017-05-04 11:46] MaStr11 commented on #464
This issue is most likely related to `List<T>` not being thread save as discussed here at [Stackoverflow](http://stackoverflow.com/a/36063121).
The exception is thrown in the [IsUncountable](https://github.com/Humanizr/Humanizer/blob/dev/src/Humanizer/Inflections/Vocabulary.cs#L132) method (The method is probably inlined in [ApplyRules](https://github.com/Humanizr/Humanizer/blob/dev/src/Humanizer/

[2017-05-04 13:42] onovotny commented on #627
Just waiting on #632 and then will ship

[2017-05-04 21:50] onovotny opened #635 "Add project to up-for-grabs.net"
https://github.com/up-for-grabs/up-for-grabs.net

[2017-05-04 23:23] #583 closed

[2017-05-04 23:57] onovotny commented on #627
Done, will tweet tomorrow

[2017-05-04 23:57] #627 closed

[2017-05-05 00:56] onovotny commented on #615
Updating to xUnit 2.3-beta should help, but overall there's not much we can do.

[2017-05-05 00:56] #615 closed

[2017-05-05 00:57] #611 closed

[2017-05-05 17:45] MaStr11 commented on #635
There is already an entry for [humanizer.yml](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/_data/projects/humanizer.yml), but it points to [https://github.com/MehdiK/Humanizer](https://github.com/MehdiK/Humanizer).

[2017-05-08 09:40] MaStr11 commented on #626
Currently humanizer has three resource entries for Chinese.

* zh-CN
* zh-Hans
* zh-Hant

zh-CN and zh-Hans are completely identical.

The output for different cultures is:
[code]

We could change the resource definition from zh-CN to zh and delete zh-Hans. This would result in the following output:

[code]

All existing tests would pass after that change. This would change the current fall-back l

[2017-05-08 11:07] wldevries commented on #626
I'm not sure if that'll work. According to [documentation](https://msdn.microsoft.com/en-us/library/dd997383(v=vs.100).aspx) the parent chain for zh-CN is as follows:

However for some reason the zh-Hans code is not used as a fallback. This may be caused by manually matching cultures in the Humanizr code base, I'm not sure.

[2017-05-08 12:18] MaStr11 commented on #626
Thank you for pointing that out. It seems that the current code base do not use the standard fall-back mechanism. The current implementation uses this approach:

* Register known cultures (about 50 in total) in [FormatterRegistry.cs](https://github.com/Humanizr/Humanizer/blob/dev/src/Humanizer/Configuration/FormatterRegistry.cs)
* If the requested culture is registered return this "localizer" [her

[2017-05-08 14:13] MaStr11 commented on #625
I can't reproduce this bug. I tried creating a new ASP.NET Core App and added the line above. This gave me `"10" is not valid at the start of a code block. Only identifiers, keywords, comments, "(" and "{" are valid.` However `@(10.Seconds().Humanize())` worked as expected.

I tested this with
[code]

and the latest dev-branch of Humanizer. @okankocyigit can you give some more context (asp.net ver

[2017-05-08 21:36] hazzik commented on #635
https://github.com/up-for-grabs/up-for-grabs.net/pull/615

[2017-05-08 21:36] #635 closed

[2017-05-08 21:40] hazzik commented on #626
Implemented option 2) in #638

[2017-05-09 13:12] odemeulder commented on #571
I would love to work on this issue. One question though, how would we deal with all the languages? Let's say we had a new parameter indicating the format, and the new key did not exist for a particular language. Would it revert to the default format?

[2017-05-09 15:42] MaStr11 commented on #571
If you look at the current language support you will find 145 entries:

| RessourceKey | Value |
|---|---|
| DateHumanize_MultipleDaysAgo | {0} days ago|
| DateHumanize_MultipleDaysAgo_Above20 | {0} days ago|
| DateHumanize_MultipleDaysAgo_Dual | {0} days ago|
| DateHumanize_MultipleDaysAgo_Plural | {0} days ago|
| DateHumanize_MultipleDaysAgo_Singular | {0} day ago|
| DateHumanize_MultipleDaysAgo

[2017-05-09 21:16] brandonrisell opened #639 "XBuild not including humanizer resources"
If I build a xamarin application in Xamarin Studio using xbuild, no humanizer language resources are included. If I build the same project in Visual Studio or Visual Studio for Mac with msbuild, then it includes the language resource assemblies in their respective directories.

I've created a quick xamarin project that highlights this issue: https://github.com/brandonrisell/HumanizerRepro

Is ther

[2017-05-10 23:20] #626 closed

[2017-05-11 13:28] aloisdg commented on #620
@hazzik indeed. For example, my last name is `de Gouvello` and `de GOUVELLO` would be the uppercase. A nobiliary particle must be written in lowercase. If my last name is used as a name (for example if you want to call me by my last name only), you can drop the particle.

Bonus: [Falsehoods Programmers Believe About Names](http://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-na

[2017-05-11 22:17] brandonrisell commented on #639
As an update, I tracked it to this bug:
https://bugzilla.xamarin.com/show_bug.cgi?id=38476

With xbuild now deprecated and Microsoft supporting MSBuild via Visual Studio for Mac, I'll close this.

[2017-05-11 22:17] #639 closed

[2017-05-12 00:25] hazzik commented on #496
We can infer the time & date contexts as we have the extensions for these entities.
The "large vs small" numbers probably can be dealt as well without specifying the context.
The only thing which we do not have from above is money. The problem is - how many other contexts do exist? What are the "other rules that I exclude for brevity"?

It might be worth to implement in a separate "Humanizer.Korea

[2017-05-12 00:25] #496 closed

[2017-05-12 00:32] hazzik commented on #253
Closing as it seems no one is interested in "fixing" this issue. my rationale is "do not break things": having Humanizer signed does not harm anyone (apart a few of anti-SN activists).

[2017-05-12 00:32] #253 closed

[2017-05-12 03:21] maxdobeck commented on #625
@MaStr11 did you use
`@10.Seconds().Humanize()`
or
`@(10.Seconds().Humanize())`
for your tests.  Could it be the difference in parenthesis?

[2017-05-12 04:50] MaStr11 commented on #625
`@10.Seconds().Humanize()` gave a syntax error while  `@(10.Seconds().Humanize())` worked as expected. The  error mentioned originally was not reproducable.

[2017-05-19 12:23] Dids commented on #556
Any news on this? I'm seeing this on iOS (Xamarin.Forms).

[2017-05-19 12:26] Dids commented on #639
Hmm, I'm still seeing this with Xamarin.Forms and on Visual Studio for Mac:
[code]

[2017-05-19 12:36] onovotny commented on #556
I would suggest raising this with Xamarin; there's not much I can do about this.

[2017-05-19 12:57] buzzware commented on #621
Mobile Center has this issue, VSTS does not

[2017-05-19 18:12] brandonrisell commented on #639
Hmm, might be unrelated? Do you see an `fi-FI` directory in your `bin` directory after a build?

[2017-06-08 11:42] ThiloL opened #642 "Time units"
Is it possible to print internal standard time units (http://www.ewh.ieee.org/soc/ias/pub-dept/abbreviation.pdf) instead of long units ('s' instead of 'second', 'h' instead of 'hour')?

[2017-06-08 23:12] jsobell opened #643 "Detecting a point relative to the start of the week (or month)"
Is there an existing human way of specifying a date relative to the start of the week?
We have things like `On.January.The1st` to specify months explicitly, but what about if we want the 1st of next month, or next Saturday?
My use case is that my users want to specify "Next Saturday at 10am", which in the current system (using moment.js) is
`today().add(7,'day').startOf('Week').add(6,'days').add(1

[2017-06-27 09:04] Ronan-Farrell commented on #642
Relates to #571

[2017-06-30 14:29] viktorija commented on #618
Hi @klaus78, I believe it has been fixed, could you verify & close it?

[2017-06-30 19:06] matthewblott opened #646 "Pluralize causes crash"
I spent a while tracking down a bug today and found it was caused by the Pluralize extension method being called in my data access layer (I ran an isolated test with a console app to confirm).

My scenario:

macOS
NET Core 1.1
Humanizer 2.2.0

I reverted to Humanizer 2.1.0 and the issue disappeared. This is fine for me but thought I'd log this as an issue :-)

[2017-06-30 23:00] djsmith85 commented on #551
As the above mentioned misleading error message has been fixed and already merged. This issue should be closed.

[2017-07-01 09:27] ctrl-shift opened #647 "Missing resource"
When date is humanized and current ui locale is not included in downloaded packages, humanizer crashes with missing resource exception
[code]

It probably should fall back to default/english in this case.

[2017-07-05 05:59] jengfad commented on #136
Hi,

I want to work on this task.
I've tested @Bartmax's code and below are the results:

Input: "quick brown fox", 7, "..."
Output: "quick b..."

Is it possible to push thru with @snluu 's suggestion?

[2017-07-05 08:33] jengfad commented on #136
Hello,

I have a question, if I have an input of `("quick xl", 4, "-----")` will the resulting value would be `"quick---"`?Note that on the above sample, truncation string was cut short into just 3 hyphens as opposed to the original 5 because it exceeds the original length of the input string.

[2017-07-06 00:34] jengfad commented on #136
Hi,

I think we have lost the real essence of this issue.  Since the main functionality is to just truncate and we are giving the user an option (a nice to have) to avoid gibberish when truncating, I think that it is not essential to the user which part will be truncated as long the process don't spew out words not in the dictionary.

Having said this, maybe we should just start with developing (a

[2017-07-09 04:58] mqudsi opened #648 "TimeSpan.Humanize() really should round"
I'll start this off by saying I've read a lot of the previous issues regarding `TimeSpan` humanization and have read the discussions on precision, maxUnit, minUnit, etc.

That said, I agree with the premise that when dealing with larger units, smaller units are not as important and can be disregarded by default; i.e. 4 hours and 3 minutes is four hours.

However, if we are discarding smaller units

[2017-07-09 05:10] mqudsi opened #649 "How to determine counting prefix for `TimeSpan.Humanize()`?"
I have the following code:

    Status.Text = $"There are {timeRemaining.Round(DateTimeExtensions.RoundType.Hour).Humanize(minUnit: Humanizer.Localisation.TimeUnit.Second)} remaining...";

The problem is that I don't think there's any way to figure out if I should prefix this with 'is' or 'are'?

(In this particular case, I could probably use `DateTime.Humanize()`, but I imagine there are cases wh

[2017-07-13 17:05] dotnetchris commented on #537
@wldevries thanks for your comment, this helped me on an entirely unrelated issue to Humanizer but that that ulimately adding those references by hand in the csproj was what i needed to do.

One slight recommendation i would make, is you likely want

[code]
Otherwise if you use the deploy capabilities of visual studio, it will likely pretend that file doesn't exist and not include in it in the dep

[2017-07-21 10:22] ahidmanja opened #650 "Spanish Culture issue"
When I am trying to get ordinal numer in spanish I am getting the cardinal instead.

string Final = 50.ToOrdinalWords(spanishCultureInfo);
// Final = "Cincuenta" while it should be  "quincuagésimo"

[2017-07-24 05:40] meiblorn commented on #606
Unity now supports .NET 4.6 and C# 6 Runtime.
But when I import your lib, I get the following errors:

`Assets/Scripts/../MyScript.cs(26,101): error CS0012: The type `System.IComparable`1<Humanizer.Bytes.ByteSize>' is defined in an assembly that is not referenced. Consider adding a reference to assembly `System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'`
`Assets/Sc

[2017-07-28 02:15] hazzik commented on #650
Which exact flavor of Spanish are you talking about? Is it something common for all languages or only for few?

[2017-08-01 08:50] gmantaos commented on #59
How do i specify which language to use?
For example when I'm trying to Pluralize() a string, no matter what I write int it it always just adds an "s" at the end like it only knows English...

[2017-08-21 12:28] LaTiNoDiaz opened #651 "Timespan.humanize() shows weird results"
Hi,

An application I had to take over uses Humanizer and is showing strange results in some cases when using a Timespan.
I'm not familiar with Humanizer and I tried finding a similar issue and/or solution online but there was none so here I am.

'when using this code and with a timespan of for example 45 days the humanized text results in descriptions like  **"6 weeks, 14 days"**

[code]
I would

[2017-08-22 09:33] ArthurAttout opened #652 "FileNotFound exception when Humanize DateTime"
If a DateTime variable is set to default(DateTime), the following statement will throw a **System.IO.FileNotFoundException**

`var date = default(DateTime);`
`date.Humanize(false);`

[2017-08-24 13:46] #652 closed

[2017-08-25 11:49] Alexander882 commented on #651
With the parameters you specify, you're calling this method:

[code]

As you can see, the maxUnit defaults to weeks, so if you want to have months, you'll have to pass the maxUnit explicitly.

In addition, the first parameter indicates that you only want a maximum of two different time units returned. This means that you'll only get strings like `1 month, X weeks`, or `1 month X days`. If you want

[2017-08-25 12:34] LaTiNoDiaz commented on #651
Sorry, not getting a result of months was not the real issue here.
The issue is that you get a result like 6 weeks and 14 days. Why the 14 days as these 14 days would result in 2 weeks? So the result should be 8 weeks. It should fall back to days only when the number of days left is less than 7. Or am I seeing it completely wrong? :)

[2017-08-25 21:25] Alexander882 commented on #651
Ah, sorry. Yeah I see what you mean now. It seems to be a bug in Humanizer. When the TimeSpan to humanize is longer than a month, the days that do not make up a complete month are counted doubly. In your example with 45 days, it should actually just print 6 weeks, 3 days.

[2017-08-29 09:50] LaTiNoDiaz commented on #651
Ok, so now I just wait till version 2.3 is released? Or do I need to open a ticket somewhere? How does this work exactly?

[2017-09-10 23:05] emilmuller opened #653 "Make portable"
Make a portable version so that it is possible to use in e.g. an Android app (Xamarin).

[2017-09-20 15:17] oliversweb opened #655 "Different results when passing in culture or setting the culture on the thread"
If I do this;

[code]
I get "1 ora e 3 secondi", which is correct but if I do this;

[code]
I get "1 ora and 3 secondi"

The culture is not affecting the 'collectionSeparator' for this scenario and the default 'en-GB' culture, so 'and' is still being used. Unsure if I am doing something wrong or this is by design.

[2017-09-21 11:11] hangy commented on #650
The `SpanishNumberToWordsConverter` seems to make some incorrect assumptions for Spanish ordinals >10: https://www.spanishdict.com/guide/ordinal-numbers-in-spanish

[2017-09-26 22:11] mattdwen commented on #592
Hi all, any update on this? I'd like to help out with this one if I can as it's something I'd like to use.

[2017-09-27 09:54] Alexander882 commented on #592
Sorry for being so slow on this one, I've created a pull request with my implementation

[2017-09-27 09:57] Alexander882 commented on #651
You've opened a "ticket" by posting this issue already :)

I can take a shot at fixing this, but you'll have to keep an eye on this issue to see when it's implemented..

[2017-09-29 22:37] gibranamparan opened #658 "Problem in spanish with thousands and millions."
First of all, awesome tool.
I've found a problem trying to display 21,000 in spanish, which says "Veintiuno Mil", correctly has to return "Veintiún Mil". The same with 31,000 -> "Treinta y **uno** mil" should be "Treinta y **un** mil", 41,000 -> "Cuarenta y **uno** mil" should be "Treinta y **un** mil", and so on, in this cases "uno" has to be replaced by "un". The same happens with the millions.

[2017-10-05 14:22] haf opened #659 "Building on mono"
[code]

Could you make the Windows-specific projects load by the side of the sln?

[2017-10-06 12:31] rgm97531 opened #660 "ToWords for chinese culture is not working"
Hi,

I am trying to use Humanizer 2.2.0.0 in .Net application (framework version 4.6.1 )  to to print Chinese words for numbers with the following code.
 **100.ToWords(new CultureInfo("zh-CN"));**

But the output is always 100. Chinese words are not printed.

Please let me know if it is a bug or I am missing something.

[2017-10-07 10:25] hangy commented on #660
Looking at https://github.com/Humanizr/Humanizer/tree/83008235bd5ce1a4c2168183fc00915b8d86aca2/src/Humanizer/Localisation/NumberToWords, it does not look like Chinese is implemented.

[2017-10-08 14:28] mshulman opened #661 "Project doesn't load on Visual Studio 2015 Update 3"
Clean install of Windows 10 with clean install of Visual Studio 2015 Update 3.

\\Mac\Home\Downloads\Humanizer-dev\Humanizer-dev\src\Humanizer\Humanizer.csproj : error  : The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add xmlns="http://schemas.microsoft.com/developer/msbuild/2003" to the <Project> element. I

[2017-10-23 20:10] jpobst opened #663 "Camelize() fails on empty/null strings"
AOORE with this code:

`"".Camelize()`

ANE with this code:

`((string)null).Camelize()`

[2017-10-24 18:12] hangy commented on #663
I think that most of Humanizer's string extensions will throw an ArgumentNullException for null strings, so that could be expected for `Camelize`, too. The ArgumentOutOfRangeException needs to be prevented, though.

[2017-10-29 12:41] JobaDiniz opened #665 "Localization pt or pt-PT doesn't work"
[code]

Why only `pt-BR` works for `ToWords` method?

[2017-10-31 15:35] emilmuller opened #666 ""human".Pluralize() == "humen""
Oh, the irony :)

[2017-11-03 00:46] MehdiK commented on #663
Fixed in #664. Thanks.

[2017-11-03 00:46] #663 closed

[2017-11-03 01:07] #655 closed

[2017-11-03 01:08] #585 closed

[2017-11-03 03:55] MehdiK commented on #666
666! Hmmm, should I trust this issue?!

Joke aside, the fix would be quite simple. Did you want to send us a PR?

[2017-11-03 03:56] MehdiK commented on #661
The solution is updated to VS2017. The upgrade from VS2015 is free though.

[2017-11-03 03:56] #661 closed

[2017-11-03 03:58] MehdiK commented on #658
Thanks for the comment. I don't think we have a native Spanish speaker in our core contributor team. Most localisations were provided by the community.

Please send us a PR. You already know where the fix should go :)

[2017-11-03 04:02] MehdiK commented on #665
Are there differences between those languages? And should we replicate that like we've done for French and Serbian?

[2017-11-03 06:24] MehdiK commented on #646
Thanks for reporting the bug. Could you send us your test please (if you still have it around)?

[2017-11-03 06:28] MehdiK commented on #606
Thanks for the discussion guys.

@meiblorn It doesn't look like a Humanizer issue. It's complaining about `IComparable`: `The type System.IComparable' is defined in an assembly that is not referenced.`. I suspect your System.Runtime doesn't have the IComparable type! I see someone else in Unity forums has a similar problem. I'm closing this for now. Please let us know how you went with this.

[2017-11-03 06:28] #606 closed

[2017-11-03 06:36] MehdiK commented on #607
No, this is a bug. Thanks for reporting.

[2017-11-03 07:03] MehdiK commented on #592
This is a significant breaking change, and like @omar mentioned above, while the current terminology is technically wrong, it is what most people are used to and expect.

Can I suggest that we keep the existing functionality as default behavior, to avoid breaking the behavior, and add a strategy to switch to IEEE standard through config? [This](https://github.com/Humanizr/Humanizer/blob/dev/src/Hu

[2017-11-03 07:11] MehdiK commented on #648
Thanks for the comment and suggestion.

To be perfectly honest, there was no wisdom behind this 😜  The initial implementation didn't have precision. What you see now is the result of a few changes and additions over time and it never occurred to me to keep it consistent with `DateTime.Humanize` which would've been the logical approach. Good news is there are stablished patterns like `Configurators

[2017-11-03 10:58] mshulman opened #667 "Humanizer.tests.uwp and Humanizer.tests.uwp.runner don't load on Visual Studio 2017"
dev\src\Humanizer.Tests.Uwp\Humanizer.Tests.Uwp.csproj : error  : Object reference not set to an instance of an object.

dev\src\Humanizer.Tests.Uwp.Runner\Humanizer.Tests.Uwp.Runner.csproj : error  : Object reference not set to an instance of an object.

It's not clear to me what the errors are in these files, but they don't load on Visual Studio 2017

[2017-11-03 13:08] JobaDiniz commented on #665
I think there are subtle differences, but not supporting `pt` as general I think is bad... well in my case, user can select general `pt` language and everything works, except *NumberToWords*. It's filed as a bug here :(
Why not creating a default `pt` and if users of other region (like Portugal) complain, we can add a specialization for `pt-PT`. And if possible, create a *patch* for version that w

[2017-11-03 14:06] BrownCasey commented on #666
Looks like a good first issue. I'll take it if OP doesn't want.

[2017-11-03 14:58] matthewblott commented on #646
I just revisited my code and can't find the test. I can tell you it was the Pluralize method that was causing the crash but I stopped working with NET Core 1.1 some time ago and have been using NET Core 2.0 which works okay with Humanizer 2.2.0 for me. There might still be an issue with NET Core 1.1.

[2017-11-04 10:44] MehdiK commented on #666
Great. Don't forget the test please.

[2017-11-04 10:49] MehdiK commented on #646
Thanks for the response. I'd imagine most people would've migrated to Core 2 by now. So I'm going to close the issue. Happy to revisit it if it pops up again and can be reproduced.

[2017-11-04 10:49] #646 closed

[2017-11-04 11:27] MehdiK commented on #543
We should be able to address the edge case using a custom formatter for French. [Here](https://github.com/Humanizr/Humanizer/blob/dev/src/Humanizer/Localisation/Formatters/SlovenianFormatter.cs#L13) is a similar example. This way we won't have to add the two keys to other resource files. @aloisdg would you be able to add this for #544 please?

[2017-11-05 03:38] vitamink opened #668 "Do not pluralize when non-English culture is active (Thread.CurrentThread.CurrentUICulture)"
I am pluralizing words from a resource file. So, for example, the word "site" is pluralized to "sites", which is good. But when the current culture is Japanese, the word "サイト" is pluralized to "サイトs", which is incorrect. I'd expect Humanizer to leave the word as サイト, and the addition of the "s" is totally incorrect.

[2017-11-05 06:21] hazzik commented on #668
@vitamink currently Pluralize/Singularize is only supported for English. You would need to check the language yourself before trying the transformation.

[2017-11-05 06:23] hazzik commented on #560
Related to #668

[2017-11-05 06:52] PalashSachan opened #669 "How do I make humanizer not display milliseconds?"
i don't want that last milliseconds in my result

how do i remove this?

Is there any method to do that or to remove that last milliseconds part

I am using Humanizer to convert Timespan to human readable time

see the image below
[image](https://i.imgur.com/Bi324X2.png)

i am doing it like this 👍

Console.WriteLine("Time Remaining :- {0}", timeRemaining.Humanize(5));

## please help
thanks

and i

[2017-11-05 11:49] vitamink commented on #668
Okay, I understand this, so why not simply return the same string when not in an English culture, and pluralize when in English. It current implementation makes it hard to support multiple languages.

I could wrap the pluralize method in another method, or create a fork that does this, but it really seems like a relatively simple solution to just NOT pluralize when the language is not English...

[2017-11-05 12:07] vitamink commented on #668
Simplest solution... wrapper extension method.

    public static string PluralizeEnglish(this string word, bool inputIsKnownToBeSingular = true)
    {
        if (string.Equals(Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName, "en",
            StringComparison.OrdinalIgnoreCase))
        {
            return word.Pluralize();
        }
        return word;
    }

Thanks :-)

[2017-11-06 06:44] MehdiK commented on #668
Not to say the current behavior of the library is correct; but IMO that check doesn't belong to Humanizer - it belongs to the caller. I'd say the correct behavior of the library is to bork out with an unsupported functionality kinda exception when it's asked to do something it doesn't support instead of defaulting to a certain language, returning the input or any other solution. Returning the inpu

[2017-11-06 06:44] #668 closed

[2017-11-06 06:52] MehdiK commented on #560
I see some value in moving English-only extensions to a separate namespace; but I'm torn on it. My main concern is that what's English-only today could be extended to other languages in the future, like how everything started in Humanizer, and each namespace change is a breaking change. I think at some point we discussed introducing localisation for `Pluralize` and `Singularize` and don't quite re

[2017-11-06 06:55] MehdiK commented on #560
Found it. It's discussed at #197. Closing this issue now.

[2017-11-06 06:55] #560 closed

[2017-11-08 07:14] #666 closed

[2017-11-08 09:59] ThomasPe commented on #112
I came across this issue since I'm trying to understand dates from voice inputs like Alexa and Cortana. This would be really awesome, even if it could not support all languages.

[2017-11-08 10:08] MaStr11 commented on #112
@ThomasPe For voice recognition you might be better of with something like [LUIS](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/home).

[2017-11-08 10:23] ThomasPe commented on #112
I'm actually using LUIS, but haven't found a way to do this kind of recognition.

[2017-11-08 10:26] MaStr11 commented on #112
Oh I see. But [builtin.datetime](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-entities#builtindatetime) seems like a perfect match for your use case to me.

[2017-11-08 11:36] caltrevizam opened #671 "Millions and billions in [PT-BR] needs plural when greater than one"
For example:
(2 001 000 000).ToWords(); = "dois bilhão um milhão". **Expected**: "dois bilhões um milhão";
(2 000 000).ToWords(); = "dois milhão". **Expected**: "dois milhões";

[2017-11-10 15:25] ahmadalli opened #672 "plural of personnel is personnel itself"
plural of personnel is personnel itself but `Pluralize` returns `personnels`

[2017-11-11 01:46] MehdiK commented on #672
Thanks for reporting this. Did you want to submit a PR for it? It's a very simple fix. Here's a recent example: https://github.com/Humanizr/Humanizer/pull/670/files

[2017-11-11 01:56] MehdiK commented on #669
So you want to see the milliseconds but don't want to see `milliseconds` word in the end?! Humanizer doesn't support that. You'd have to do it yourself using `substring` or `remove`.

No problems with the question. Happy to help.

[2017-11-11 01:56] #669 closed

[2017-11-11 05:28] PalashSachan commented on #669
yeah..no problem..i did that like this

`private static string RemoveMilliSeconds(string s)
        {
            return s.Contains("milliseconds") ? s.Substring(0, s.LastIndexOf(',')) : s.Contains("no time") ? "Calculating..." : s;
        }`

and thanks for this great Library anyway :)

[2017-11-11 09:05] ahmadalli commented on #672
I’ve send a PR

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mehdi Khalili <notifications@github.com>
Sent: Saturday, November 11, 2017 5:16:40 AM
To: Humanizr/Humanizer
Cc: ahmadali shafiee; Author
Subject: Re: [Humanizr/Humanizer] plural of personnel is personnel itself (#672)

Thanks for reporting this. Did you want to sub

[2017-12-04 10:22] #672 closed

[2017-12-04 10:22] MehdiK commented on #672
Thanks for the PR. Merged. Will release soon.

[2017-12-04 10:24] #671 closed

[2017-12-11 07:59] alski opened #676 "To.TitleCase not working on CamelCase"
Hi, this might just be a bad assumption on my part but I was expecting that

"someValue".Transfrom(To.TitleCase).ShouldBe("SomeValue");

//but is
"someValue".Transfrom(To.TitleCase).Equals("Somevalue");

[2017-12-11 22:36] schnitty commented on #651
I need a fix to this issue for a project i'm working on so have created a branch and have written some tests that confirm the issue.  Ill hopefully have a fix to this issue in a PR shortly.

[2017-12-13 04:46] schnitty commented on #651
I've spent a day writing a fix for this issue and have arrived at an impasse.  If anyone is interested in carrying my work on, I'd be happy to publish my branch.  I'll provide some details here for anyone who would like to continue.

As @Alexander882 has stated weeks can span longer than a month and so in scenarios of weeks > 4 the remainder is counted incorrectly.

On my branch I changed the impl

[2017-12-15 11:13] MehdiK commented on #676
Title transformations do NOT Humanize the input before changing the casing. If you want that outcome, you'd have to humanize it first and then dehumanize it again.

[2017-12-15 11:13] #676 closed

[2017-12-15 11:18] MehdiK commented on #651
@schnitty thanks for taking a stab at this and explaining the issue so clearly. It's appreciated.

This is obviously a breaking change; but one I'd be happy to introduce as it's going to fix a bug. Please submit a PR from your branch and I will take over. Thanks.

[2017-12-19 15:29] ilanosortap commented on #524
I would like to work on this issue, though i ll need some help

[2017-12-21 15:57] ilanosortap commented on #464
Hey i am a beginner, can i work on this task?

[2017-12-21 16:23] ilanosortap commented on #412
hey i am a beginner, can i work on this task, if yes then can you tell me what exactly needs to be done?

[2017-12-22 08:45] mihemihe commented on #658
I would like to take this one and maybe https://github.com/Humanizr/Humanizer/issues/650 if I have time (Spanish native speaker). However I am struggling to make the build work:

https://i.imgur.com/VKAR9t2.png

Unit tests are work fine, but for some reason I dont have those missing files. @MehdiK any idea

@MehdiK is there any place where Humanizer is discussed, forum, Reddit, IRC, Discord? I am

[2017-12-22 13:15] onovotny commented on #658
@mihemihe that's my bad -- the `build.proj` file is a bit out of date as it's no longer used. Really the only thing you need is to ensure the solution builds and the tests pass. The CI build on the PR validates that as well.

As for flow, just create a new branch off of `dev` for each PR and submit them individually. That's it :)

We do have a Gitter set up, though not sure how frequently it's che

[2017-12-22 13:37] onovotny commented on #667
Do you have the UWP workload installed?

[2017-12-22 13:38] onovotny commented on #658
btw, I just updated the build script and it should work now.

[2017-12-22 14:45] onovotny commented on #667
I've split these out into a separate solution as they're really only needed for validation tests. The current `Humanizer.sln` no longer contains them.

[2017-12-22 14:45] #667 closed

[2017-12-22 14:45] onovotny commented on #653
Humanizer is already portable as a .NET Standard library and is usable by all platforms. Please open a new issue if you're hitting specific problems.

Thanks

[2017-12-22 14:45] #653 closed

[2017-12-22 14:46] onovotny commented on #659
I've split the UWP projects into a different solution. Thanks.

[2017-12-22 14:46] #659 closed

[2017-12-22 14:47] onovotny commented on #621
Closing this issue out as it's seems stale. Please reopen if there's still a current issue.

[2017-12-22 14:47] #621 closed

[2017-12-22 14:50] onovotny commented on #647
It should be falling back. Is there a repro on this? What Locale were you using when this happened? What was the humanizer file layout?

[2017-12-22 16:03] ctrl-shift commented on #647
It was a long time ago, I can't reproduce this anymore both on clean project or actual application.
It's probably better to close the issue if it's not easily visible from details/stacktrace below.
As for details, if you think this is still worth digging into:

Crash happened when humanizing date like <datevar>.Humanize(utcDate: false)
Locale was unusual one (I was testing locales, 'fo-FO' or 'ro-

[2017-12-22 16:10] onovotny commented on #647
If it's working now, then I think we'll close it. I don't see anything obvious in those functions as they're doing regular resource lookup with ResourceManager.

If it happens again, can you please open a new issue?

[2017-12-22 16:10] #647 closed

[2017-12-22 22:17] mihemihe commented on #658
@onovotny thanks!! it works perfectly now 👍

@gibranamparan I have been checking the official statements for this case from RAE.ES and this is basically what they propose: http://www.rae.es/consultas/veintiuna-mil-personas-o-veintiun-mil-personas

so based on this, the output for these cases would be:

1 - uno or una . The apocope form would be missing though , like in  "un perro" . This would pro

[2017-12-22 22:46] mihemihe commented on #650
As per my understanding, ordinal and cardinal numbers are the same across all Spanish flavors. (Spanish speaker from Spain here).

Yes, it does seems only first 10 simple forms are implemented.

I have found this article where one Spanish university has dissected the official rules (from RAE) and should not be difficult to implement. There are a bunch of exceptions, and they fail in their online c

[2017-12-23 06:17] MehdiK commented on #524
Quoting the discussion from FluentAssertion library: "_This would be not just a breaking change but a huge one and completely unnecessary. Just call as a static method._" and I completely agree. Closing this issue.

[2017-12-23 06:17] #524 closed

[2017-12-23 06:35] MehdiK commented on #412
Closing this issue as it's been sitting here stale for quite a while.

[2017-12-23 06:35] #412 closed

[2017-12-23 06:36] MehdiK commented on #464
Thanks @MaStr11 for investigating this.

@olaj any updates on this? Is still happening? Were you adding words in a non-safe manner?

[2017-12-23 13:31] mihemihe commented on #650
@hangy @hazzik @MehdiK  I got a question, regarding what is the expected or preferred method of implementing ordinal numbers. This is related to some quirks of Spanish language and I guess you, as experienced members of this solution, could help me to decide what is best.

This is related to 1st and 3rd in Spanish. There are two forms of saying 1st: primer and primero/a

Examples:

**The query ret

[2017-12-23 14:57] MehdiK commented on #650
Thanks for explaining.

Just to avoid any confusion, are you saying that the current implementation
is wrong because it only uses primer and that what you're suggesting will
also be wrong as it will only use primero/a? If yes, what would be the
benefit of introducing a breaking change for Spanish users?

On Sat, 23 Dec 2017 at 11:31 pm, mihe <notifications@github.com> wrote:

[2017-12-23 15:18] mihemihe commented on #650
@MehdiK

Both forms are correct in Spanish language, but using one or the other depends on the context they are used, so none of the implementations will be 100% correct in all cases. The developer using this method would expect and overloaded method to chose one form or the other. But because there is no such overload, I suggest going to the most coherent solution, which is standard for both gend

[2017-12-23 15:32] MehdiK commented on #650
Makes sense.

Awesome. Create a local branch, commit your changes to it, do a git push
origin your-branch-name, open your fork on GitHub, it asks you if you want
to create a pull request for your branch. GitHub guides you through the
rest.

Just a couple of things: make sure your code is based on the latest (no
merge conflicts) and your tests are green.

On Sun, 24 Dec 2017 at 1:19 am, mihe <notif

[2017-12-23 16:18] mihemihe commented on #650
@MehdiK I guess I am doing something wrong.

I "Create a local branch from..."
https://imgur.com/eXRWqsS

I select origin/dev and type the name of the branch.

https://imgur.com/imSF172

I do all changes, then I commit all. All in the local branch

https://imgur.com/sCqTZah

Changes commited in local branch

https://imgur.com/bn4yPz5

then I try to push that branch but I get an error .

https://im

[2017-12-24 11:12] schnitty commented on #651
Just saw this, will publish in the next few days.

[2017-12-27 17:27] totpero opened #680 "Feature request: Estimated reading time"
Hi,

It will be nice feature to add something like this:
http://niram.org/read/
https://github.com/ngryman/reading-time
http://www.edgestudio.com/production/words-to-time-calculator

I have create a snipped code:

[code]

[2017-12-31 17:21] onovotny opened #682 "On-Board project to the .NET Foundation"
We're getting ready to bring the project into the .NET Foundation, but before we
do we need to do the following:

## Getting into the .NET Foundation
- [x] Make sure the project has a good name that is easy to remember and
 spell. Check that it doesn't [conflict with another existing project](http://ivantomic.com/projects/ospnc/)
- [x] Make sure the people involved in the project want to join the

[2018-01-04 05:09] MehdiK commented on #680
Thanks for the suggestion. I don't feel that's a right addition to the core lib. Obviously you're more than welcome to create an extension of the library and publish it separately.

[2018-01-04 05:09] #680 closed

[2018-01-04 05:14] #650 closed

[2018-01-04 05:16] MehdiK commented on #464
Closing this now as there hasn't been any update on it for two years and I got no response to my previous enquiry. Happy to reopen if it's still happening.

[2018-01-04 05:16] #464 closed

[2018-01-04 17:59] Kricke242 opened #683 "Humanize Enum flags with flag "NONE" (0) flag"
Hello!

Assume the enum:
[code]
Then the following will return the correct "Read" string:

`FileAccess.Read.Humanize();`

But the following will give "None, Read and Write" string:

`(FileAccess.Read | FileAccess.Write).Humanize();`

Which is, while not technically incorrect since HasFlag(0) is true for all flags, not always useful (and you don't get "None, Read" when the value is defined).

The c

[2018-01-07 03:41] BrownCasey commented on #543
I looked into using the formatter to handle this case. Still seems the resource files must be edited. Appreciate your thoughts on #684.

[2018-01-15 08:00] MehdiK commented on #683
Great idea. Do you want to send a PR?

[2018-01-15 17:06] Kricke242 commented on #683
Hi. Yes, perhaps I can send a PR. I don't have the time to write it right now, though. But I'll get back to it.
Do you think

is ok, in order to default to the old behaviour?

[2018-01-27 14:56] onovotny commented on #682
@MehdiK do you want to sign up for the project leader news (link above?) Also, Would you be interested in writing up that guest blog post announcing Humanizer joining the foundation or should I do that?

[2018-01-28 08:25] MehdiK commented on #682
I've already signed up to the leader news.

You initiated this effort. You should write the guest blog.

On Sun, Jan 28, 2018 at 12:56 AM, Oren Novotny <notifications@github.com>
wrote:

[2018-01-28 16:43] onovotny commented on #682
Cool, will write something up. BTW, I switched the CI builds to the dotnetfoundation account on AppVeyor; you should still have access to it. If not, lmk and I'll fix it.

[2018-02-01 15:40] Paul-Brenner-Tangoe commented on #380
@onovotny do you have a link to the Microsoft bug report? This is still broken

[2018-02-01 15:54] onovotny commented on #380
I just re-ran my repro in VS 2017 and it was ok:

[2018-02-01 15:56] onovotny commented on #380
What version of VS are you using and what project format? I am using VS 2017 15.5 targeting Creators Update. It changed the old `project.json` to `PackageReference`.

[2018-02-01 16:00] J-F-B-M commented on #380
Currently also stumbling over this.

VS 2015 Ultimate 14.0.25431.01 Update 3

With NuGet: DateTime doesnt localize, as described. Rest works.
With downloaded and referenced DLL: Works as expected.

Problem is I can only add one Resources-DLL as direct reference, as they are all named the same (or I don't understand references correctly, which is entirely possible).
I want to support multiple langu

[2018-02-01 16:01] onovotny commented on #380
@J-F-B-M what kind of project is that for? UWP?

[2018-02-01 16:05] J-F-B-M commented on #380
Ultimately a .NET Web Application.
We have multiple Projects which compile to Class Libraries. The affected Library is a dependency of the WebApp and is a "Class Library"-Project.

[2018-02-01 16:07] Paul-Brenner-Tangoe commented on #380
VS 2017 15.5.4. I'm using Humanize 2.2 in a Xamarin project with a PCL. I'm having the same problem as J-F-B-M, I don't understand how to apply the work around because then I'd need to reference multiple Humanize dll's with the same name.

[2018-02-01 16:08] onovotny commented on #380
Does your web app have a reference to Humanizer as well?

[2018-02-01 16:09] onovotny commented on #380
@Paul-Brenner-Tangoe you should not reference the dll's by name, they wont' go in to the right directory.

Did you also add a nuget reference to Humanizer from your head projects? Using `PackageReference` and .NET Standard class libraries fixes a lot of common issues.

[2018-02-01 16:09] onovotny commented on #380
I'm closing this as external since the core issue was fixed. Please file new issues with specific issues.

[2018-02-01 16:09] #380 closed

[2018-02-01 16:11] J-F-B-M commented on #380
Yes, that was NuGet all along. I'm seeing this trouble in Unit-Tests and from C#-Interactive (initialized with the affected Project). This should, in my understanding, bypass the WebApp-Project.

[2018-02-01 16:16] onovotny commented on #380
@J-F-B-M there were a lot of bugs fixed since VS 2015. I would strongly suggest trying on VS 2017 and seeing if they're just fixed for you there.

[2018-02-01 16:30] Paul-Brenner-Tangoe commented on #380
@onovotny Thanks for the quick replies and help. Apologies for wasting your time, installing it into my Xamarin.iOS and Xamarin.Droid projects as well as the PCL fixed it.

[2018-02-01 16:46] onovotny commented on #380
@Paul-Brenner-Tangoe no worries, it's a common shortfall of packages.config. I would recommend moving over to `PackageReference` as you no longer need to do that anymore with that.

[2018-02-02 14:14] J-F-B-M opened #686 "Grammatical Cases for TimeSpan"
For this issue assume the CultureInfo to be `"de-DE"`

`1.Weeks().Humanize()` returns "Eine Woche".

This however is (for german) only one of multiple cases that I want as output. Sometimes I need different grammatical cases:

 - in *einer* Woche (A point of time one week away)
 - *eine* Woche (literally one week)
 - *eines* Tag*es* [werden wir etwas tun] (someday [we will do something])

I assume

[2018-02-02 17:43] J-F-B-M opened #687 "TimeSpan.Humanize() round up to at least specified TimeUnit"
Feature-Request:
When Humanizing a TimeSpan I want provide a TimeUnit that is the minimum output.

Example usage:
[code]

Proposed interaction and distinction from `minUnit` and `maxUnit`:
[code]

Often the exact point in time of an event is not that important (it should happen sometime on that day, but it's not important when exactly). Therefore it is legal even 1 second before midnight of the pr

[2018-02-15 10:09] Depechie opened #689 "ToQuantity() usage with other languages"
So I'm trying out Humanizer and got stuck with the ToQuantity() feature.

Bit of extra background.
So I'm trying to get NL and FR text inside a Xamarin Forms app and have used the DateTime.Now.Add(*).Humanize() feature with great success.

But now I wanted to have some quantity changes and it seems the NL and FR libs don't contain a good set of default Irregulars. Meaning I'm getting the general p

[2018-02-25 14:42] dnordquist commented on #622
I might be wrong about this, but I see that ToWords() *does* exist on `long`, so it seems like this issue can be closed?

[2018-02-26 15:15] nmilcoff opened #690 "ArgumentException with locale sk_SK when only Humanizr.Core is installed"
Related to #647.

I'm hitting the issue on a Xamarin.iOS / Xamarin.Android app that only has the `Humanizer.Core` package installed.  It is crashing for a user whose locale is sk_SK.

Exception: `ArgumentException: The resource object with key 'DateHumanize_MultipleHoursAgo' was not found`.

Stacktrace:

[code]

I can also confirm adding the `Humanizer` package solves the issue.

[2018-02-26 15:16] onovotny commented on #690
If that's the case, then I'm guessing there's a Xamarin/Mono bug with resource fallbacks to the neutral (en-us) culture.

In general, I would always recommend using `Humanizer` directly since that contains all of the localizations.

[2018-03-01 06:43] quole opened #691 "[Feature Request] TimeSpan.Dehumanize()"
Yes, I know there's been some lengthy discussion about dehumanizing dates (#112). And the [readme](https://github.com/Humanizr/Humanizer/blob/dev/readme.md) even states:

There's also already a couple of libraries that deal with ambiguous expressions such as "yesterday", "3 weeks ago", and "7 hours before tomorrow at midnight". e.g. [nChronic](https://github.com/robertwilczynski/nChronic/) and Mic

[2018-03-02 17:49] jnm2 opened #692 "Humanize collection with Func<T, object> displayFormatter"
BCL printing and formatting APIs such as string.Join accept object instances as well as strings. Even C#'s string concatenation reinforces the concept of removing superfluous `?.ToString()` invocations.

Ever since I discovered that I could write `collection.Humanize(item => item.Name)`, I've been using that instead of `collection.Select(item => item.Name).Humanize()`. The consistency breaks down

[2018-03-02 17:53] onovotny commented on #692
I like the idea, long as we can properly resolve the overloads.

[2018-03-02 17:54] onovotny commented on #691
I'm curious about what context you would see this being useful?

[2018-03-02 18:01] jnm2 commented on #692
I can't think of a scenario that would cause overload resolution to fail.

[2018-03-02 18:03] onovotny commented on #692
Can you please do a PR with appropriate unit test coverage and doc updates?

[2018-03-02 18:09] jnm2 commented on #692
Oh, `.Humanize(item => null)` will break. Are you okay with that?

[2018-03-02 18:10] jnm2 commented on #692
Wait, no it won't. https://sharplab.io/#v2:C4LgbgpgTglgZgTwDQBMQGoA+ABADAAmwEYBuAWAChsBmQgJnwGFKBvS/D/dzmwgFnwAVCAGdgACgCU3DmwqcF+ALLip+ALwA+fADsArgBsDk8vM4BfGVzMcrvbAJXYArAB4A9gCMAVhADGwNoAhtI2+HIKlhR2tA7K4i6uxLjBoQoRFpTmQA===

[2018-03-02 19:28] #683 closed

[2018-03-02 19:29] #543 closed

[2018-03-03 02:11] quole commented on #691
@onovotny My use case is a Discord (chat) bot which can act as a timer for "writing sprints" (a glorified 5 to 45 minute timer). So it accepts commands from members of a chat such as:

`!sprint 15` (to run a timer for 15 minutes)

example:

![image](https://user-images.githubusercontent.com/800133/36929167-59d1fb1c-1ee1-11e8-808e-ca1b873a85c2.png)

`!sprint 1000s` works thanks to DateTimeExtension

[2018-03-08 08:25] wldevries opened #694 "Sort strings ignoring culture specific article word prefixes"
Let's say we have the following list, it would be great if we could sort it while ignoring article words like the and a:
[code]
with output:
[code]
I'm not really sold on the method name though..

[2018-03-09 08:17] #692 closed

[2018-03-12 15:12] adaptabi commented on #571
One year passed, nothing moved on (about this).
Even with 50+ languages to translate in, is far better than 0 support for it.

Any plan to actually support this?

[2018-03-14 22:28] mungojam opened #695 "Provide a way to allow fractional seconds rather than milliseconds"
For example, `TimeSpan.FromMilliseconds(500).Humanize(precision: 2, allowFractionalSeconds: true)` would return:

while `(TimeSpan.FromDays(2) + TimeSpan.FromMilliseconds(700)).Humanize(precision: 2, useFractionalSeconds: true)`  would return say:

Not bothered by the syntax, but there doesn't seem to be a way to do this at present. I think our end users would be more comfortable seeing fractional

[2018-03-19 13:26] NageshAndani commented on #571
I would like to work on this issue. Can you please assign it to me?

[2018-03-19 13:29] onovotny commented on #571
It's yours.... GitHub only allows assignments to organization members, but anyone looking should see this thread.

[2018-03-19 20:10] shtse8 opened #697 "ToMetric() with Format"
I want to format the metric string value to 0.00 format. But it only supports decimals in the latest version.

For Example:
[code]
Result:
[code]
Expected:
[code]

Similar to Size Library:
[code]
results in
[code]

Any plans to support it or how can I achieve this in the latest version? Thanks.

[2018-03-19 20:12] shtse8 commented on #697
I am doing a crypto-mining program. I need to calculate hashrate.
I would like to have something like:
[code]
Result:
[code]

[2018-03-22 20:20] Ahmed-Abdelhameed commented on #651
Is this still not fixed? I'm having the same issue with version 2.2.0.

[2018-03-25 18:30] EMostafaAli opened #698 "ToWords bug with negative sign (Arabic culture)"
I noticed that Arabic culture implementation of ToWords doesn't deal with negative numbers. I mean in English implementation we can see
[code]
But the same can't be found in Arabic version. Is there a specific reason? if not, I will be glad to fix it.

[2018-03-29 16:36] AdhamAwadhi commented on #698
**I fixed this.** I will create PR as soon as possible.

[2018-03-30 01:04] EMostafaAli commented on #698
@AdhamAwadhi , I would rather use the Arabic word "ناقص" instead of "سالب".

[2018-03-30 18:25] AdhamAwadhi commented on #698
@EMostafaAli , I committed with that change. Thank you

[2018-04-02 02:12] parvindsaini opened #700 "Enum Dehumanize should take both enum and description."
Given:
public enum MyEnum
{
        [Description("Enum 1")]
        Enum1= 1
}
I would expect both "Enum1" and "Enum1" string to dehumanize to correct enum.

But currently it works only on description "Enum 1".DehumanizeTo<MyEnum>()
and "Enum1".DehumanizeTo<MyEnum>() fails in conversion.

[2018-04-07 19:02] ultraviola commented on #700
I looked into this. I think this is behaving as designed. The reason is that when humanizing `MyEnum.Enum1` a space would be added => "Enum 1". The dehumanizer works the same in reverse, so finds no match for "Enum1", only for "Enum 1". If you try your same test with _no description_ on the enum member then
`"Enum 1".DehumanizeTo<MyEnum>()` should still work.

Owners: would it make sense to add an

[2018-04-11 14:49] xalikoutis commented on #380
Same problem here, Xamarin Forms project i have added several locale assemblies as
Humanizer.Core.de
Humanizer.Core.es
Humanizer.Core.sv

everytime i call
`((DateTime) value).Humanize(utcDate:false, culture: new CultureInfo("es-ES"));`

i get english
like `3 minutes ago`

XF .net standard PackageReference

[2018-04-13 14:09] Emixam23 opened #701 "Feature question"
Hey !

I was wondering if by any chance if, with your nuget, I can translate country name into a given language?

Because I am trying to display a list of countries based on the device language, like the following:

- ES-es
  - España
  - Estados Unidos
  - Francia

- FR-fr
  - Espagne
  - Etat-Unis
  - France

- US-en
  - France
  - Spain
  - USA

Your library is the best I found for the moment,

[2018-04-17 23:44] salvador-guerrero commented on #526
I'd like to suggest a way to limit the range of prefixes used, let's suppose we are trying to humanize distances

    100d.ToMetric() + "m";   //Result: 100m
    2000d.ToMetric() + "m";  //Result: 2km
    5000000d.ToMetric() + "m" //Result: 5Mm

The last result is not very useful, a Megameter is a SI unit, but i'd rather have 5000km as a result

[2018-05-08 11:03] kiml42 commented on #651
I'm getting this too on 2.2.0. Humanizing 5127 days is giving me "732 weeks, 13 days" instead of "732 weeks, 3 days".

[2018-05-10 04:48] vackup commented on #380
Yep, same problem here in a Xamarin.Forms app, calling Humanizer from the Core (.net Standard project)

I'm using Humanizer.Core.es 2.2.0 package for Spanish
And calling it

`fecha.Humanize(culture: new CultureInfo("es-AR")); // fecha is a DateTime`

And getting results in English, "N days ago" eg

[2018-05-15 01:06] allanrsmith opened #708 "Warnings when building UWP min/target FCU (16299)"
Create a new Blank App (Universal Windows Platform)
Add Humanizer via Manage Nuget Pacakages.

From VS Command Line run : `msbuild <sln file>`

OUTPUT:
(_GenerateProjectPriFileCore target) ->
  GENERATEPROJECTPRIFILE : warning PRI257: 0xdef00522 - Resources found for language(s) 'en,af,ar,bg,bn-bd,cs,da,de,el,
es,fa,fi-fi,fr,fr-be,he,hr,hu,id,it,ja,lv,nb,nb-no,nl,pl,pt,ro,ru,sk,sl,sr-latn,sv,tr,uk

[2018-05-15 01:51] JustinArnspiger commented on #571
Would it be alright if I tried working on this? I saw that it's been a couple of months or so since it was last worked on, but I'm not sure how long it is before an issue is considered available again.

[2018-05-15 07:52] michal-ciechan commented on #571
As far as I'm concerned go for it!
________________________________
From: JustinArnspiger <notifications@github.com>
Sent: Tuesday, May 15, 2018 2:51:13 AM
To: Humanizr/Humanizer
Cc: michal-ciechan; Comment
Subject: Re: [Humanizr/Humanizer] Minimize verbosity of Timespan formatting. (#571)

Would it be alright if I tried working on this? I saw that it's been a couple of months or so since it was l

[2018-05-15 11:11] Kermalis opened #709 "[Feature Request] "int" extension method for humanizing to tuple strings"
Similar to int.Ordinalize(), a method that returns:

    1.Tupleize() - "single"
    2.Tupleize() - "pair"
    3.Tupleize() - "triple"
    4.Tupleize() - "quadruple"
    5.Tupleize() - "quintuple"
    ...
    100.Tupleize() - "centuple"
    1000.Tupleize() - "milluple"

My use case is very simple. My Sudoku solver prints out "Naked Pair", "Hidden triple" and the like. I have the tuple strings in a

[2018-05-17 07:04] xiaobudian opened #710 "将数字转化为中文金额大写"

[2018-05-29 01:30] adelzorrolight commented on #59
how can I use arabic language in Humanizer

[2018-06-02 17:02] christopherie commented on #694
I think this is very interesting. I would like to give this a try.

[2018-06-06 14:31] corstian opened #711 "Humanizer.Tests throws NullReferenceException on approve_public_api"
When executing `dotnet test ./src/Humanizer.Tests/Humanizer.Tests.csproj` a single test fails with the following output:

<details>
<summary>Test run output</summary>

[code]
</details><br />

This behavior can be reproduced by cloning the current master branch and running these tests.

Any objections against filing a pull request while this issue is still there?

[2018-06-08 22:09] onovotny commented on #711
This should be fixed now.

[2018-06-08 22:09] #711 closed

[2018-06-09 01:44] #698 closed

[2018-06-09 02:10] onovotny commented on #708
This `Resources/TimeSpanHumanize_MultipleDays_DualTrialQuadral'. The application may throw an exception for certain user configurations when retrieving the resources.` should be fixed in the latest. The first part is a tooling bug with MarkPri, afaik.

[2018-06-09 02:10] #708 closed

[2018-06-09 02:11] #682 closed

[2018-06-20 09:30] Jarrich commented on #701
I don't believe that translating certain values in within scope of this project.

[2018-06-21 21:24] icnocop opened #717 "Can't add nuget package reference 'Humanizer.Core.el 2.3.3' from project that targets .NET Framework v4.5"
Hi.

Thank you for Humanizer.

Adding a nuget package reference to 'Humanizer.Core.el 2.3.3' from a project that targets .NET Framework v4.5 fails with the following error:

`Could not install package 'Humanizer.Core.el 2.3.3'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files t

[2018-06-21 21:33] icnocop opened #718 "Add explicit option to return "0 seconds" instead of "no time""
Hi.

I'd like the ability to explicitly instruct Humanizer to return "0 seconds" instead of "no time".

Thank you.

**Edit**:
For example,
[code]

[2018-06-21 22:25] icnocop opened #719 "Add option to return full words instead of abbreviations for ByteSize objects."
I'd like the ability to explicitly return full words instead of abbreviations for ByteSize objects.

For example,
Current behavior:
[code]
Feature request:
[code]
Or maybe we can pass configuration options like suggested in https://github.com/Humanizr/Humanizer/issues/508
[code]

Thank you.

[2018-06-21 22:49] icnocop opened #720 "Add generated XML documentation file to the Humanizer.Core NuGet package"
Please add the generated XML documentation file to the Humanizer.Core NuGet package.

This allows us to see the method comments/documentation in projects that consume Humanizer.Core within Visual Studio.

For example, I expected to see documentation for the `Humanize` method parameters:

![image](https://user-images.githubusercontent.com/507649/41749247-385f5bfc-756a-11e8-8147-7995e6e71129.png)

T

[2018-06-28 12:26] AdamDawes opened #722 "Add support for non-integer types with ToQuantity"
I'm writing an application that displays numbers in the form "1 hour", "2 hours", etc. and so using the `ToQuantity` method looked perfect. However the number of hours in this case is not a whole number, as the application supports half-hours too. This means I can't use `ToQuantity` as it only supports `int` or `long` as parameter types.

Could we have additional overloads to support `decimal`, `d

[2018-06-29 23:58] jimfoye commented on #717
I tried to update today from 2.2.0 to 2.3.3, I'm targeting 4.6.2, and the nuget package wants to install of .NET Core into my project. Surely this can't be right.

[2018-06-30 00:07] onovotny commented on #717
the `el` locale is missing a `netstandard1.0` target resource. Will get this fixed asap.

[2018-06-30 00:31] icnocop commented on #717
@jimfoye , Humanizer.Core 2.3.3 has a dependency on .NET Standard.
If you target .NET Framework, and don't want the additional dependencies, you have to stick with Humanizer.Core 2.2.0.

[2018-06-30 13:47] #701 closed

[2018-06-30 13:56] #720 closed

[2018-07-04 19:24] corstian opened #730 "[Idea] Number or percentage to term describing perception"
Idea based on [this repo](https://github.com/zonination/perceptions).

For me personally it would be beneficial to have tooling which translates a certain number or percentage to a term describing one's perception to help not so exact people understand what a certain number means. While these terms are subjective it seems that the general population can agree on a specific amount. (An example is h

[2018-07-08 22:18] wcsanders1 commented on #718
To clarify, does this issue entail making it so that when `toWords` is `false`, the method **always** returns `0 seconds` (or `0 minutes`, `0 hours`, etc., depending on what the minimum time unit is), when the time span is zero?

[2018-07-08 22:59] icnocop commented on #718
Hi.

Yes, that is correct.

Current behavior:
[code]
New requested behavior:
[code]

This request is flexible so if there's a better strategy, I'm all for it, :)

Thank you.

[2018-07-10 12:28] tocklime commented on #651
Yep, still a problem here. Setting `maxUnit: TimeUnit.Day` is an acceptable work around for me.

[2018-07-10 15:49] crowbarsolutions opened #731 ".NET 4.5 support dropped?"
The latest nuget package no longer has .NET 4.5 listed in the dependencies, causing the package to download a bunch of .NET Standard libraries when installed. Was this intentional, or were changes made that brake compatibility with projects using the full .NET framework?

[2018-07-20 16:24] fahadash commented on #112
Can someone tell me where can I find this DehumanizeRelativeTo feature? I couldn't find it anywhere in codebase.

[2018-07-21 21:29] wcsanders1 commented on #718
I just made a PR that should resolve this issue.

[2018-07-23 14:57] JobaDiniz commented on #731
Same issue here :cry:

[2018-07-24 13:46] jfrank14 opened #733 "Humanizer 2.4.2 introduced dependency on System.Data.Common that caused havoc"
The other day I did a routine package upgrade from 2.2.0 to 2.4.2 and my site completely broke, failing to load the correct version of System.Data.Common.

Since this was part of a number of updates, and since the error didn't mention Humanizer, it took me literally days of painstaking troubleshooting to determine that 2.4.2 has a dependency on System.Data.Common.dll, and furthermore this file has

[2018-07-24 21:01] hangy commented on #733
Where do you see this dependency? I can't find any reference to it. Humanizer >=2.3 does not provide PCL any more and uses .NET Standard instead. It only depends on .NET Standard 1.6 or .NET Standard 2.0 (and some development dependency NuGet packages).

[2018-07-26 22:00] nvborisenko opened #734 "v2.4.2 blocks compiling UWP project with .NET native tool chain (Release mode)"
Steps to reproduce:
1. Add package Humanizer.Core **v2.4.2**  into UWP project
2. Build project in Release configuration

Result:
Project cannot be compiled.
`C:\Program Files (x86)\Microsoft SDKs\UWPNuGetPackages\microsoft.net.native.compiler\2.1.8\tools\Microsoft.NetNative.targets(788,5): error : Internal compiler error: Specified cast is not valid.`

Workaround:
Downgrade package to v2.3.3

[2018-07-26 22:23] onovotny commented on #734
What version of the UWP meta-package age you using, are you on the latest, 6.1.5?

What is the TargetPlatformVersion and Min Version?

[2018-07-26 22:31] nvborisenko commented on #734
UWP 6.1.5
Target 1803 (Build 17134)
Min 1803 (Build 17134)
VS 15.7.5

[2018-07-27 00:30] onovotny commented on #734
Thanks, looking into it.

[2018-08-06 15:17] gunr2171 opened #735 "Add documentation about Roman Numerals number limits."
The standard Roman Numerals system has an upper limit of 3999:

As an average programmer, I didn't realize this until I started getting exceptions using the `ToRoman()` and `FromRoman()` methods.

[code]

While this error does tell me that the number I provided was either too large or too small, it doesn't give me any indication what the expected range is. I only found it out (I can't use numbers

[2018-08-11 15:10] anhuynhBT opened #736 "zh-Hans doesn't work on xamarin.forms 3.0"
Hi, Teams

I'm trying to install Humanizer.Core.zh-Hans and Humanizer.Core packages for my project. But Humanizer.Core.zh-Hans doesn't work. It does not show error or warning. It always shows English.
I'm using xamairn.forms 3.0 and xamarin.android latest version. Do I need any config ?
Thanks

[2018-08-15 15:38] kcragin commented on #695
I totally agree with this. It is a bit awkward to read **X seconds, Y milliseconds**, and humans tend not to say it that way.

[2018-08-17 02:36] sheldonhull opened #739 "License Type - MIT"
Low priority request.
Requested license type change to MIT here for the PowerShell Humanizer project. Helps with more flexibility for corporate usage. Was asked to open it up over here for consideration if was possible to use this more lenient licensing policy.
[PowerShellHumanizer/issues/12](https://github.com/dfinke/PowerShellHumanizer/issues/12)

Regardless of decision, thanks for the great pro

[2018-08-17 02:42] #739 closed

[2018-08-20 17:39] vcsjones opened #740 "Investigate using Span"
Humanizer is a very string-heavy library. Since strings are immutable, this often ends up with a lot of strings on the heap for string transformations and parsing. Now that Span and family are in .NET Core 2.1, I would propose the following.

1. Add `netcoreapp2.1` as a target to the project.
2. Use `[ReadOnly]Span<char>` in the library itself where possible if targeting netcoreapp2.1.

An example

[2018-08-21 00:30] onovotny commented on #734
@nvborisenko do you have a small repro you could either attach or point to? The .NET Native team is having trouble reproducing this.

[2018-08-22 16:42] niallermoran commented on #722
I have created a simple solution for this that accepts doubles and decimals, but only supports ShowQuantityAs.Numeric, e.g. 0.2 hour will return 0.2 hours.

If this works I can submit a PR

[2018-08-22 16:54] Ashera138 commented on #719
I'd like to give this a shot. 👍 I'll let you know if I have any questions or when I have a pr ready if that's alright with you.

[2018-08-22 17:28] ericmck2000 commented on #691
I will +1 this feature, for nearly the exact same use-case (Discord Bot)

[2018-08-22 17:33] ericmck2000 commented on #691
However, I will also note, The discord.net library already has built in support for this, using the TimeSpan type converter.
https://github.com/RogueException/Discord.Net

https://discord.foxbot.me/docs/guides/commands/commands.html#type-readers

[2018-08-24 15:30] nvborisenko commented on #734
@onovotny  attached
[AppIssue734.zip](https://github.com/Humanizr/Humanizer/files/2318943/AppIssue734.zip)

Also actual nuget package with issue is `Humanizer.Core.ru`, not `Humanizer.Core`.

[2018-08-24 16:02] Ashera138 commented on #719
I'm heading out of town for a couple of days, but I'll pick this back up when I get back. :)

[2018-08-25 11:26] quole commented on #691
I had a go at creating this a while ago but never got around to polishing it up to share. I'll upload it as a separate github project when I get a chance. It allows inputs like "3m20s" or "3 min 20.5secs" or "3:00:10" etc.

I didn't know about Discord.Net's parser. I'll put in some tests to check mine is compatible with everything it accepts too.

[2018-08-25 12:55] ericmck2000 commented on #691
I created a pull request for discord.net's version to fall back and use the
built in parse method which helps alot.

It's not perfect, but, it understands...
1:10:00,
6d,
10m,
3s, etc....

On Sat, Aug 25, 2018, 6:26 AM Peter Halasz <notifications@github.com> wrote:

[2018-08-27 12:58] ericmck2000 commented on #691
https://github.com/RogueException/Discord.Net/pull/1131

So, to summarize, the discord.net version, will soon just be mostly utilizing the builtin timespan.parse methods.

It would be really great for humanizer to support this feature!

[2018-08-28 11:54] MalcolmJohnston commented on #731
In our use case we are using Humanizer in conjunction with the T4 templates to generate boiler plate code.  Unfortunately T4 has been somewhat abandoned (so maybe we should use a different tool!) and cannot reference .NET standard dlls.

Could Humanizer not be multi-targeted and provide a full fat dll as well as netstandard?

[2018-08-28 23:08] Ashera138 commented on #719
Alright, PR is ready. Let me know if there are any changes that need to be made! 😃

[2018-08-29 18:59] Ashera138 commented on #719
Alright, PR is submitted. Let me know if there are any changes that need to be made! 😃

[2018-08-31 14:29] onovotny commented on #740
A PR for this would be very welcome!

[2018-09-01 11:41] Rbn3D commented on #740
Just did a quick test here:

https://github.com/Rbn3D/Humanizer/commit/f3fb8714f05f7f37dc7b3056daafbef473afb0df

It's a very small example, not optimal since most usages of the method converted still uses the overload that requires a string, so we need to copy it to a span first (in order to modify it), fut for large strings should perform better.

All tests are passing.

The only problem is that,

[2018-09-01 12:43] onovotny commented on #740
I'm not sure why netstandard 1.6 is required? When I look at the System.Memory NuGet package, it supports down to netstandard1.1?

[2018-09-01 12:47] Rbn3D commented on #740
@onovotny Well, we need at least 1.1, but in my tests I was not able to set it up properly. Not sure if it's related to my development environment setup (using visual studio 2017 v15.8.0), will look at that again.

[2018-09-01 12:54] Rbn3D commented on #740
Updated to target netStandard 1.1 (Now working, still unsure why didn't build before)

See https://github.com/Humanizr/Humanizer/compare/master...Rbn3D:span-tests

[2018-09-01 13:01] onovotny commented on #740
Cool...I would also suggest a BenchmarkDotNet project that shows the before/after of these changes for perf and allocations. The benchmark project can reference humanizer as a nuget for the current behavior, and source for the latest. I think it'd help show the gains.

For the purposes of adding Span, I'd be okay with breaking API changes if they're source compatible (implicit casts, etc). That co

[2018-09-01 13:36] mannixc commented on #709
Hi - I've made a small change to implement this feature - see #743. I've limited the scope so far to just the numbers 1-10, 100 and 1000, as beyond that it gets a bit convoluted and rarely used.

Any other number n will return "n-tuple" instead. I've also used "double" instead of "pair" as it seems more appropriate.

Please let me know what you think, I wasn't sure whether I should do anything in

[2018-09-02 18:52] Rbn3D commented on #740
I'm having trouble referencing two versions of Humanizer project for the benchmarkDotNet project.

Extern alias can be used on the local source project, but not for the nuget one, and the compiler doesn't seem to be able to reference both projects in the code (currently fails to recognise the nuget version)

https://github.com/Humanizr/Humanizer/compare/master...Rbn3D:span-tests#diff-bb97e4b5627fe

[2018-09-02 19:08] onovotny commented on #740
I'd suggest using a project configuration and a condition in the csproj based on that

[2018-09-04 14:26] davidortinau commented on #736
@GreenRock can you share your project here or a small sample that demonstrates the issue with Xamarin.Forms?

[2018-09-05 18:33] Rbn3D commented on #740
After some research, I came to the conclusion that there is no way (AFAIK) to make the benchmark work with a nuget reference and a source one for the same project.

The closest thing I found is this: https://github.com/dotnet/BenchmarkDotNet/pull/805
But it's still unmerged.

Probably using a source reference and a dll reference (and use 'extern alias' on them) would be enough, maybe I can create

[2018-09-10 16:21] gregfra commented on #486
Is this still a live issue? I'd like to claim it and provide a slimmed-down sample that works in the updated VS2017 and MVC framework. Humanizer helpers would be a separate issue and need some better specification, but I can handle the first issue,

[2018-09-12 16:54] reznor244 commented on #710
I speak Chinese (or read/write in this case) and the request is for methods to convert numbers to Chinese "banking numbers", which are more secure. As background, the character for one: "一" could easily be misread or changed to two or three (二，三) by a clever forger, so there is a set of more complex numbers: 壹贰叁肆伍

I'd be interested in taking this but have no experience with open source developmen

[2018-09-13 01:18] #735 closed

[2018-09-13 01:19] #607 closed

[2018-09-13 01:34] onovotny commented on #731
There is no `net45` specific code in Humanizer; there's a `netstandard1.0` version for older frameworks, though the dependency graph is far better with `net461` and higher, which will use the `netstandard2.0` version. The `netstandard2.0` version does not have any dependencies and is the recommended version.

[2018-09-13 01:34] #731 closed

[2018-09-13 01:34] #733 closed

[2018-09-13 01:38] JobaDiniz commented on #731
So, nothing will be done, is that it?
I must say, when I update to the latest version several netstandard
packages are installed and that's not useful, that's not needed for .net4.5

On Wed, 12 Sep 2018 at 22:34 Oren Novotny <notifications@github.com> wrote:

[2018-09-13 01:41] onovotny commented on #731
There's nothing to do here. Adding a `net45` target bloats the size of the package. The recommended option to minimize dependencies is to target `net461` or higher. There's very little reason to target NET 4.5. It is out of support and may have 0-days in the wild.

[2018-09-13 02:48] Nikey646 commented on #607
Thanks.

[2018-09-13 11:50] #709 closed

[2018-09-17 15:17] onovotny opened #746 "Release 2.5"
Release Humanizer 2.5 with the fixes from the past few PR's.

- [ ] Update `version.json` to 2.5.

[2018-09-17 16:43] Ashera138 commented on #718
It looks like this can be closed now. The [PR for this issue](https://github.com/Humanizr/Humanizer/pull/732) was merged. 👍

[2018-09-17 17:02] Ashera138 opened #748 "ByteSize.ToFullWords() shows incorrect capitalization for return values in readme.md"
When the capitalization was changed in [this pull request](https://github.com/Humanizr/Humanizer/pull/742), I forgot to update it accordingly in [readme.md](https://github.com/Humanizr/Humanizer/blob/master/readme.md).

Currently shows:
[code]

Should show:
[code]

I'll go ahead and update it and send a pr. 👍

[2018-09-17 17:37] #748 closed

[2018-09-17 17:41] icnocop commented on #718
Thank you! :smile:

[2018-09-17 17:41] #718 closed

[2018-09-17 17:43] onovotny commented on #718
2.5.1 is live on NuGet now.

[2018-09-17 17:44] #746 closed

[2018-09-18 05:55] MarkWhybird opened #750 "International english spelling"
I've read the note requesting help with localisation, but I'm not 100% sure this is the same thing...

Have you considered ways to support, in English, converting international spellings of words? For example, the word "Humanize" would be more correctly spelled "Humanise" in the UK, Canada and a number of other English-speaking countries. "Color" and "Colour" is another prominent example.

I reali

[2018-09-21 16:36] Ashera138 commented on #719
This can be closed now. 🏷

[2018-09-21 16:37] #719 closed

[2018-09-25 14:12] cassionandi commented on #380
Any workarounds for this?

[2018-09-28 12:33] ofirgeller opened #751 "Passing the language/culture to be used when calling transform"
I should be able to specify the language in someway besides changing the culture of the thread.

[2018-10-01 18:31] YZahringer commented on #734
Same issue, no problem with v2.3.3

[2018-10-03 20:38] corstian opened #753 "Implementing coordinate to text conversion (?)"
I have developed a proof of concept where I'm able to translate a coordinate (latitude, longitude) to a textual, human readable interpretation.

As an example, feeding `new Coordinate(51.528751, 4.428284)` will result in `2km west of Roosendaal`.

Now I would love to implement this feature in Humanizer to enable broad use, but I'm thinking about the following two things (only applicable if you thi

[2018-10-03 22:17] Ashera138 commented on #562
Should this issue be closed? It looks like the [`Singularize()`](https://github.com/Humanizr/Humanizer/blob/master/src/Humanizer/Inflections/Vocabulary.cs#L118) method was updated at some point to address this.

However, as a side note, this was not updated in the [`Pluralize()`](https://github.com/Humanizr/Humanizer/blob/master/src/Humanizer/Inflections/Vocabulary.cs#L92) method above it.

[2018-10-03 22:48] Ashera138 commented on #584
I checked out those examples since the `ToTitleCase()` method changed [in this PR](https://github.com/Humanizr/Humanizer/pull/741).

Input | Output
------------ | -------------
`"SUICIDE SQUAD".Transform(To.TitleCase)` | SUICIDE SQUAD
`"SUICIDE SQUAD".Transform(To.LowerCase).Transform(To.TitleCase)` | Suicide Squad
`"PETE'S DRAGON".Transform(To.TitleCase)` | PETE'S DRAGON
`"PETE'S DRAGON".Transfor

[2018-10-04 12:14] #584 closed

[2018-10-04 12:18] onovotny commented on #750
I think those can be handled in the same way as other localizations -- by adding locale-specific resources. Happy to take PR's that add those.

[2018-10-04 14:31] Jogai opened #755 "Convert chinese numbers"
This looks like a feature that's a natural fit for Humanizr.
Here is an example: https://codegolf.stackexchange.com/q/97734/83276

[2018-10-06 17:58] nitin-a opened #756 "Converting Long number to Italian WOrds"
Hi All

I am trying to convert a long number to words in Italian and using the code below but this library is throwing the not implemented exception.

`Console.WriteLine(Humanizer.NumberToWordsExtension.ToWords(998999456789, new CultureInfo("it-IT")));`

Kindly provide guidance

regards
Nitin

[2018-10-15 15:42] corstian commented on #753
Friendly ping @onovotny, any ideas on this?

[2018-10-15 16:56] onovotny commented on #753
Sorry for the delay.

I don't think Humanizer should be taking any external dependencies and requiring services to work would limit its use to those who want the service.

I think a better approach would be to create a library that uses Humanzier for any parts that are relevant. If there's specific features that you'd need in Humanizer to bridge the gap, that's something that could fit.

[2018-10-16 10:29] corstian commented on #753
Thanks for the feedback, I think those are some very legit points! :) Closing this as it's not relevant for Humanizer.

[2018-10-16 10:29] #753 closed

[2018-10-25 17:07] XtremeOwnageDotCom opened #758 "Humanize / Dehumanize Boolean"
Add support for dehumanizing boolean.

Ie...

yes -> true
y -> true
si (spanish) -> true
1 -> true

no -> false
n -> false
"false" -> false
nada(spanish) -> false
0 => false

[2018-10-25 17:19] ericmck2000 commented on #758
I am quite certain there is a much better way to do this, but, here is my simple static method I used to fill the purpose for the time being.

[code]

[2018-10-29 09:31] aelij commented on #708
We're getting a similar error with the latest version:

[code]

Using the latest (17763) SDK.

[2018-10-29 12:32] onovotny commented on #708
@aelij do you have a repro for that PRI263?

[2018-10-30 09:10] aelij commented on #708
@onovotny It's part of a rather large project. I will try to create a small repro.

[2018-10-30 09:34] aelij commented on #708
[PRI263_repro.zip](https://github.com/Humanizr/Humanizer/files/2528925/PRI263_repro.zip)

Just run `build.cmd` from a VS command prompt.

[2018-11-04 21:46] quole commented on #691
Okay, here's my TimeSpanParser:

https://github.com/quole/TimeSpanParser

It doesn't parse "three hours and eighteen minutes" but it will do the rest of the examples.

[2018-11-05 12:57] drachele opened #760 "int.Ordinalize() not working for fr"
Hi,

When I try to use the Ordinalize() extension with the Thread.CurrentThread.CurrentUICulture set to `fr` on a number, I only get the number back as a string.

If I try any other language (es, it, pt, etc), it returns the number with the correct ordinal for that language.

I have also tried `fr-BE` and that does not seem to work either.

I am using version 2.5.1 with all languages installed.
Th

[2018-11-18 10:10] jtmueller commented on #740
I took a stab at converting the four capitalization-transforms to Span-based versions, and setting up BenchmarkDotNet tests for them. Pretty good results so far, even with all tests using the string-input, string-output overloads so that they can run on both platforms.

https://github.com/Humanizr/Humanizer/compare/master...jtmueller:span-optimized

Apologies for the table width...

[code]

[2018-11-18 12:57] JPVenson commented on #751
+1

[2018-11-18 19:50] jtmueller commented on #740
I couldn't figure out how to get BenchmarkDotNet to run the netstandard2.0 version of Humanizer on the Core runtime, so it's currently using the CLR runtime to run the code without Span optimizations. It's not a perfect comparison of course since it's a different runtime, but it gives a general idea.

However, I think a decent chunk of the benefits seen so far can be had by taking a dependency on

[2018-11-19 04:14] jtmueller commented on #740
String.Humanize, on the other hand, gets roughly the same performance for short strings, slightly better for long strings, after conversion. Garbage collections and memory allocated is lower, though. Maybe there's more that can be done to optimize these methods.

[code]

[2018-11-19 06:30] jtmueller commented on #740
I added a handful more optimizations:
https://github.com/Humanizr/Humanizer/compare/master...jtmueller:span-optimized

It's difficult to take this too much further, mainly because System.Text.RegularExpressions does not yet support `Span<char>` or `ReadOnlySpan<char>`. Humanizer is fairly heavy on regular expressions, and every time we hit one, we have to allocate a string. In some code paths this

[2018-11-19 07:37] pfedotovsky commented on #690
Same issue here for Xamarin.Forms. Humanizer package is installed to .NET Standard and iOS/Android projects. But some users get the

`ArgumentException: The resource object with key 'DateHumanize_MultipleHoursAgo' was not found.`

[2018-11-21 10:17] NeilMacMullen commented on #651
Still present on 2.5.1 - another workaround is to set maxUnit: TimeUnit.Year.

BTW - great library 👍

[2018-11-21 22:58] rubenmamo opened #761 "Add support for the Maltese language"
Add support for the Maltese language.

[2018-11-22 04:00] #761 closed

[2018-11-26 19:16] jtmueller commented on #740
The span stuff doesn't appear in .NET Standard until 2.1, which has yet to be officially released. Targeting that will definitely be preferable to targeting `netcoreapp2.1` when it becomes possible, but it doesn't really change anything else.

If my numbers are correct, Span gives us a 50% performance boost in some cases, particularly with long strings, and reduces memory allocations and GC pauses

[2018-12-03 14:59] tranb3r opened #765 "DateTime Humanizer : returns hours, days, months, but not weeks"
Why does DateTime Humanizer return a number of hours, days, months, but never return a number of weeks ?
It does not seems consistent with TimeSpan Humanizer.

Example :
TimeSpan.FromDays(7).Humanize() => "1 week"
DateTime.UtcNow.AddDays(7).Humanize() => "7 days from now" (instead of "1 week from now")

[2018-12-04 16:32] aloisdg commented on #760
@drachele Feel free to fork the library and submit a PR if possible. We are a not a lot of french speaker, but it could be useful :)

[2018-12-05 22:36] icnocop commented on #691
I'm using https://github.com/Pathoschild/NaturalTimeParser.

Even though it hasn't been updated for some time, it works well for my needs.

[2018-12-18 03:41] alexb5dh commented on #648
Stumbled upon this for similar reason.
Issue seems to be frozen, but I just wanted to ask if there's any simple code to achieve similar 0.75 precision humanization for `TimeSpan`. It seems that strategies are not applicable in this case.

[2018-12-25 02:52] omar commented on #592
I went ahead and pushed an implementation at https://github.com/omar/ByteSize/pull/24 which can be downloaded from https://www.nuget.org/packages/ByteSize/2.0.0-alpha1

Full design reasoning here https://github.com/omar/ByteSize/blob/db3cacc8314a9f16f327e8ed0df205d3bc186fba/docs/binary-byte.md

Tentative Release Notes

Breaking Changes:

 - Drop support for all platforms except `netstandard2.0`.

[2018-12-28 05:27] DR9885 opened #769 "DehumanizeTo<EnumExample> doesn't give ReturnsNull option"
Only following methods are available:
`DehumanizeTo<TTargetEnum>(this string input)`
`DehumanizeTo(this string input, Type targetEnum, OnNoMatch onNoMatch = nNoMatch.ThrowsException)`

it would be nice to switch the first to (with TTargetEnum)
`DehumanizeTo<TTargetEnum>(this string input, OnNoMatch onNoMatch = nNoMatch.ThrowsException)`

[2018-12-28 05:27] DR9885 opened #770 "Can you guys add OnNoMatch.ReturnDefault"

[2019-01-03 19:38] JonasBarka commented on #526
I've just started implementing this request, as my first contribution to an open source project!

My current plan is to add an optional string parameter to *ToMetric* named *largestPrefix*. Setting it to the name or symbol of a metric unit prefix will create an upper limit to the used prefix.

I got some questions that I hope you can help me with:
1. As you know, naming is hard. Do you got any sug

[2019-01-03 21:39] JonasBarka commented on #697
I recently started working on another issue pertaining to *ToMetric* and were surpised to see no option for adding trailing zeroes.

Related question: Should all requests be tagged by one of the maintainers before being picked up for implementation by a contributor?

[2019-01-05 17:14] JonasBarka opened #772 "ToMetric() - hasSpace behaviour with no exponent intended behavior?"
ToMetric has an optional parameter *hasSpace* for inserting a space before the exponent.

But the space is not inserted at the end when no prefix is added.

Indented behavior? If the main intended usage of ToMetric is to also add a unit, as the name of the method implies, the this seems like a bug. But in isolation not adding it would be more correct.

An option for always adding the space would p

[2019-01-06 19:48] JonasBarka opened #773 "ToMetric() - Inconsistent behavior of "decimals" parameter"
The *ToMetric* method does not apply the effect of the *decimals* parameter when no metric prefix is added to the string.

[2019-01-07 12:35] JonasBarka commented on #526
My current names are maxPrefix and minPrefix. Short and max/min is very common in programming.

[2019-01-09 16:32] aloisdg commented on #772
I agree to move it to an option.

[2019-01-09 23:34] aloisdg commented on #526
@JonasBarka Your comment make me think that you could open an issue about your contribution question. This issue could result in a PR to the Contribute.md file. :)

[2019-01-10 13:33] wldevries opened #774 "Pascalize and Camelize do not join words separated by spaces"
My expectation of these methods would be that it would join separate words together.

`"This is a sentence".Pascalize();`

Expected result: `"ThisIsASentence"`
Actual result: `"This is a sentence"`

My workaround for now i to `Underscore` first:
`"This is a sentence".Underscore().Pascalize()`

[2019-01-11 18:42] JonasBarka commented on #774
I've checked the source and it seems to be by design.  But I've never encountered camel case or pascal case containing any white space.

Is there any risk of breaking a legitimate use of this behavior if the default is changed to remove all white space?

[2019-01-16 04:47] Couch92 commented on #571
I've started working on this issue. I like @michal-ciechan's idea of introducing a format enum

[2019-01-17 00:02] SirSparkles opened #776 "Missing resource TimeSpanHumanize_MultipleSeconds in Polish?"
Hi,

Just got the following error reported from a user. Unfortunately am not sure exactly which locale it is, but the user is Polish:

`System.ArgumentException: The resource object with key 'TimeSpanHumanize_MultipleSeconds' was not found  Nazwa parametru: resourceKey
w Humanizer.Localisation.Formatters.DefaultFormatter.Format(String resourceKey, Int32 number, Boolean toWords)
w Humanizer.TimeSpa

[2019-01-17 18:21] failwyn opened #777 "Humanize string without changing case LetterCasing.NoChange"
It would be nice to have the ability to Humanize a string without making any changes to the casing.

[2019-01-17 22:38] Ashera138 commented on #777
I'm not sure what kind of output you're expecting.

I can guess at some simple cases, for example:

    SomeString => Some String
    someOther string => some Other string
    lower case statement => lower case statement

But what about input like this? Would it just return an unchanged string?

    nOt SuRe AbOuT tHiS oNe => ???

[2019-01-17 23:13] failwyn commented on #777
Our use case is that Humanizer is wrapped in a Localize utility function that will be passed database column names (i.e. CreatedOn) that should come back Title case as they are defined in the database, but it will also be passed strings that will be mixed case with spaces or underscores, and we’d like them back in the same case as they were defined.

[2019-01-21 13:33] wldevries commented on #537
The solution _works_, but it's not the way it should be solved. You should add a reference to a facade  `System.Runtime` library. For .NET 4.5.2 this would be `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5.2\Facades`

https://support.microsoft.com/en-us/help/2971005/error-message-when-you-compile-applications-to-target-the-net-framewor

[2019-01-22 00:34] MarkSummerville commented on #776
Seems to be missing in the Resources.fi-FI.resx resources file

[2019-01-22 13:09] wldevries opened #779 "Include humanized name in nuget package descriptions"
From the description of Humanizer packages it is not always clear what the locale is. It would be great if it included the English name of the locale.

**Actual values**
Name: Humanizer.Core.uk
Description: Humanizer Locale (uk)

Name: Humanizer.Core.zh-CN
Description: Humanizer Locale (zh-CN)

**Expected values**
Name: Humanizer.Core.uk
Description: Humanizer Locale Ukraine (uk)

Name: Humanizer.

[2019-01-23 16:56] KSemenenko opened #780 "Ukranian culture"
Hi, do you support the Ukrainian (ua) language? If not, I can add resources.

[2019-01-23 16:59] onovotny commented on #780
It should be there as we support the `uk` locale. The full Ukraine locale is `uk-UA`, so the base should be sufficient. Additional translations, resources, are always welcome!

[2019-01-23 16:59] KSemenenko commented on #780
it seems that you support, you are cool :)

[2019-01-23 16:59] #780 closed

[2019-01-24 11:51] LeahPike opened #781 "ToMetric to million not m"
Would it be possible to use to Metric to have a long format as well?

So instead of 1.3M it would say 1.3 Million?

[2019-01-24 15:02] KSemenenko commented on #776
The sameException for ru-RU

[2019-01-24 18:46] TheMightyPope opened #782 "Tens, twenties, thirties"
Maybe I overlooked it, but it would be great with a way to turn a number into a term like tens, twenties, thirties, like "The man was in his thirties", or "the amount runs into the thousands"...

I don't know what this term is called, just putting it out there for consideration.

[2019-01-27 12:43] Paradoxon101 commented on #734
Same issue, no problem with v2.3.3

[2019-02-05 09:29] rothschild86 opened #784 "Satelite language packages are not getting copied into the bin"
Hi there,

Out of ideas here. Here's my test:

Installed packages:
[code]

Test:
[code]

Output for (23 days):
[code]

How should I go about troubleshooting this?

Assuming it's an issue of missing dlls, what process is responsible for copying them into bin?

 Thank you.

[2019-02-05 17:12] mrlife opened #785 "Feature Request: Humanize Plural Acronym"
We have instances where we have strings as uppercase or lowercase, and they contain an acronym ending with an 's'. We use Humanizer a lot; would it be possible to add a function to Humanizer that uppercases all the letters expect the last one and lowercases the last one?

e.g. `"urls".HumanizePluralAcronym()` -> URLs

[2019-02-05 20:34] defigli commented on #773
I created thr PR #783.

[2019-02-13 08:45] RobinLaevaert opened #786 "Humanizer Core still using previous previous humanizer installation"
Installed Humanizer then deleted it since I only need English, after installing humanizer Core in Xamarin forms it still uses the localizes language, tried uninstalling the app and redeploying but no succes.
I have tried to deploy to an emulator and there it displays the correct language.
Is there a way to reset the Humanizer package on a device ?

[2019-02-19 23:33] kevinmarchand opened #788 "Word doenst pluralize"
I Can't use pluralize with this word "Equipment" even by addind a default....

Vocabularies.Default.AddPlural("Equipment", "Equipments");
Vocabularies.Default.AddIrregular("Equipment", "Equipments");

var s = "Equipment";
Console.WriteLine(s);
Console.WriteLine(s.Pluralize());
Console.ReadKey();

[2019-02-21 10:19] rothschild86 commented on #788
Equipment is always singular/unmeasurable. Equipments is not a word ;)

[2019-02-24 22:28] solankisamir opened #789 "Singularize Caches gives cach"
"Caches".Singularize().Dump() => "Cach"
I would expect
"Caches".Singularize().Dump() => "Cache"

how to achieve this?

[2019-02-25 21:57] AKTheKnight commented on #781
Just leaving a note to say I'd like to take a crack at this and I'm giving it a go in my fork :)

[2019-02-27 12:27] AKTheKnight commented on #785
Not sure if this is something you're still after, but this is possible by implementing IStringTransformer yourself. The gist linked below would do what you're trying to achieve:
https://gist.github.com/AKTheKnight/587a93ed19784ae1ae86776d68e288b4

It works by converting all the text to uppercase except if the last letter is an "s".

This can then by used via `"urls".Transform(new ToPluralCase());`

[2019-02-27 12:28] AKTheKnight commented on #785
Not sure what peoples thoughts are on adding this into Humanizer itself?

It's a pretty easy implementation so could just be documented in a wiki as an option instead of being adopted in.

[2019-02-27 18:11] mrlife commented on #785
Thanks, this is completely acceptable as a solution.

[2019-02-27 18:11] #785 closed

[2019-03-03 21:36] AKTheKnight commented on #789
Added a new test in my repo and confirmed reproducable: https://github.com/AKTheKnight/Humanizer/commit/1aaf185cf7e9b1b82bcda76bb9cd25f1a5613811

Interestingly, pluralizing cache does give the right value, so the issue is only with singularize.
"Cache".Pluralize() => "Caches"

[2019-03-03 21:59] AKTheKnight commented on #789
This regex: "(x|ch|ss|sh)es$" is the one we're calling to Singularize "caches"

https://github.com/Humanizr/Humanizer/blob/d5b3cf3fd081733dd2ccb3e13a35af8ffe987415/src/Humanizer/Inflections/Vocabularies.cs#L61

Not sure what the best method for solving this is, should we add a default or look and reworking some regex (Not sure how we could fix it without breaking other tests).

@solankisamir To fi

[2019-03-04 16:48] AKTheKnight commented on #777
@failwyn Could you possibly post some examples? From that we might be able to better understand what you need and then how we can help

[2019-03-04 23:24] #789 closed

[2019-03-04 23:29] #773 closed

[2019-03-04 23:41] onovotny commented on #784
That should be all handled by VS. That said, you shouldn't be using `packages.config` anymore as that has a lot of issues...

In the latest VS 2017 versions, you should be able to right-click that file and select "migrate to PackageReference" (and do that on each project that has one).

[2019-03-04 23:42] onovotny commented on #786
Not really following? If you uninstall all the nuget packages, it will be gone and you can install whatever version you want.

[2019-03-05 07:20] rothschild86 commented on #784
I'm locked into VS 2015 and .net standard. Perhaps that configuration hasn't been tested in a while and is not working quite right.

[2019-03-05 10:45] onovotny commented on #784
NuGet satellite packages are an old feature and have worked for a long time. I'd suggest filing an issue on the NuGet repo (https://github.com/nuget/home/issues) since whatever the issue is would be on their end.

[2019-03-07 07:32] mkgitalia opened #794 "Timespan in italian"

[2019-03-07 07:33] mkgitalia commented on #794
week isnt transate in "settimana"

[2019-03-07 08:40] AKTheKnight commented on #794
Within https://github.com/Humanizr/Humanizer/blob/master/src/Humanizer/Properties/Resources.it.resx we have the following translations:

[code]

[2019-03-11 12:52] #779 closed

[2019-03-11 15:32] #774 closed

[2019-03-11 15:33] #772 closed

[2019-03-13 08:39] bdaniel7 opened #796 "Add custom acronyms to Vocabulary"
Is there a way to add custom acronyms to the Vocabulary?
Like when the Humanizer detects "hs" or "Hs", to convert it to HS?

[2019-03-13 13:26] #486 closed

[2019-03-15 08:32] sandrock commented on #592
It looks like there exist chaos worshippers. Windows has long been misusing file size units and some guys love it this way. It is not gonna end soon. Now, I think the software industry must make a step and move forward towards non-ambiguous displays of sizes.

**It's OK** to make a breaking change. Those who will update their library can be notified and apply the changes (and they can also *not* u

[2019-03-16 11:51] bjornharrtell opened #798 "Many additional dependencies between 2.2 and 2.3.2"
When upgrading from v2.2 to v2.3.2 these dependencies are added. If it was intentional and required, please excuse the noise.

[code]

[2019-03-16 13:34] onovotny commented on #798
Those dependencies are coming in simply by being a netstandard 1.0 target. If you update to use .NET 4.6.1 (preferably 4.7.2), you'll get the netstandard 2.0 version, which won't have those dependencies.

[2019-03-16 13:34] #798 closed

[2019-03-21 11:29] AKTheKnight commented on #593
@onovotny looks like the PR for this #595 was closed and never merged.

What are your thoughts on me submitting a new PR for this? And do you remember if there was a conversation had about adding CultureInfo to all overloads/methods where appropriate?

[2019-03-22 10:39] jemunk opened #799 "Only english in Xamarin Forms 3.5"
Hi.
I am only able to get Humanizer to show in english in my Xamarin Forms 3.5 project. I have tried installing the Humanizer package including all language, and also just a handful of the individual language packages. But it is always in english.
Can it be the language assemblies not being included in executables?

[2019-03-22 10:56] jemunk commented on #799
Oh... I see some discussions in #784
So it is a bug in Nuget? But can I do something to make it work now?

[2019-03-24 19:15] AKTheKnight commented on #765
@onovotny (sorry for the tag, let me know if I should stop tagging you), I think I'm going to need your input on this.

The method for choosing which unit is returned is calculated in DefaultHumanize() within DateTimeHumanizeAlgorithms.cs here: https://github.com/Humanizr/Humanizer/blob/81c6dbe79a629d30b7527b78ba5df990ef7a0935/src/Humanizer/DateTimeHumanizeStrategy/DateTimeHumanizeAlgorithms.cs#L1

[2019-03-24 21:27] AKTheKnight commented on #756
Hi @nitin-a currently the Italian translation only supports values between Int32.MaxValue and Int32.MinValue (So between 2147483647 and -2147483648).

Are you a native Italian speaker? Would you be able to help me improve the localisation so we can add support for numbers of any size?

Alex

[2019-03-24 22:17] AKTheKnight commented on #751
@ofirgeller @JPVenson Can I ask exactly which methods you want to be able to pass the language/culture to? From what I can see, only "ToLowerCase" actually needs the culture.

I can definitely look at how we can add a culture parameter to help in this situation though.

[2019-03-24 22:44] AKTheKnight commented on #689
I'm looking into the feasibility of adding support for multiple Vocabularies, currently we just have the default one.

I'll see what I can do

[2019-03-24 22:57] AKTheKnight commented on #649
We could look at adding an overload that will correctly add the right prefix, not sure if we'd want to do this in code or with a resource file item.

@mqudsi If this is something you still need (I appreciate it's very late), you could always add a method of your own to return a formatted string, or use the conditional operator.

[2019-03-24 23:06] AKTheKnight commented on #651
There was a PR for this (#681), but it has been closed due to age.

I will take a look this week at recreating it for the latest branch and see if we can get it merged and fixed.

(Note for contributors, I will also fix unit tests to make sure everything passes and document any changes with outputs)

[2019-03-25 00:53] JPVenson commented on #751
`InflectorExtensions.Pluralize` and `InflectorExtensions.Singularize` are the methods in question. They use the Vocabularie.Default static.
[code]

And there is no way to change that because the Vocabulary class constructor is internal.
`Humanizer.Inflections.Vocabulary`

Thats for my +1

[2019-03-25 21:16] AKTheKnight commented on #571
Hey @ZacharyCouchman did you get anywhere on this by any chance?

[2019-03-26 18:28] Cirzen opened #802 "ByteRate has no ToString or comparison methods."
ByteRate, unlike ByteSize has no ToString or IComparable<>/IEquatable<> methods.
I'm using the project in some PowerShell cmdlets and the lack of ToString means that any ByteRate object is written to the console as just `Humanizer.Bytes.ByteRate`

[2019-03-29 14:11] tompazourek opened #805 "Precision strategy for timestamps and unexpected off-by-one error"
[code]

The `inputTime2` in the test case above is expected to be `2 months ago` the same as the day before and day after.

I tried to find the error in the code, but I didn't really understand how the precision strategy algorithm works.

The same error should be happening for `DateTime`, I don't think it's related to `DateTimeOffset`.

[2019-03-29 14:44] AKTheKnight commented on #805
I wonder if it is possibly related to the issues in #651 too.

I'm working on #800 to fix it, I'll test with these values and see if the values change.

[2019-03-29 17:43] donnyv opened #806 "Change words in TimeSpan"
Is there anyway to substitute the words used in TimeSpan and the number format?

Like turning this output
"1 hour, 3 seconds, 1 millisecond"
into this
"01 hr, 03 secs, 1 ms"

[2019-03-29 18:24] AKTheKnight commented on #805
Done some looking into it, here's the cause (Not sure how to fix it or what to do about it, just writing all this to make sure I understand it and see if it can help lead to a solution)

The part we are interested in starts in the DateTimeHumanizeAlgorithms#PrecisionHumanize method. For reference the value of days in this method with our tests will be 61, 60, and 59.

All the values calculate for

[2019-03-29 18:49] AKTheKnight commented on #806
This is something that was looked at in #571. I'm planning to try and talk to @onovotny about whether it's something he would be up for accepting as a PR from myself to fix it.

I'll let you know once I manage to talk to him :)

[2019-03-31 15:35] #722 closed

[2019-03-31 17:23] onovotny commented on #765
We can add a new resource in english, and solicit help from the community to fill in the blank.

[2019-03-31 17:25] onovotny commented on #593
Happy to take a PR adding a `CultureInfo` overload to API's that don't have one.

[2019-04-01 08:04] tompazourek commented on #805
@AKTheKnight Thanks a lot for your help with this. Unfortunately, I do not have any other test cases. This was the only one that I randomly stumbled upon.

I still don't really follow what's going on there with the `factor` and `maxMonths` and how it it all supposed to work. But I'm sure if you do a PR, @onovotny will review it.

[2019-04-03 13:14] Fylax opened #808 "Compilation Warning with ValueTUple"
The solution I am working on has several project (.NET Framework 4.6.1).
Some of them have referenced (through NuGet) the `ValueTuple` dll, version 4.5.0

In another project I referenced `Humanizer`. This reference lead me to the following compilation warning:
[code]

The result of the warning is a runtime error when loading :
[code]
with `path = System.ValueTuple.dll`

[2019-04-03 18:50] tiesmaster commented on #593
I think I closed the PR back then because of inactivity on it. I've reopened it, and rebased changes on latest master. This is only the change I did for the overload I needed back then, but I intent to add the other ones, when I see the CI pass on my original changes.

[2019-04-03 20:36] tiesmaster commented on #593
@onovotny Added the missing overloads. Please have a look at the re-opened PR #595

[2019-04-04 01:17] #593 closed

[2019-04-05 12:33] Mason11987 opened #809 "singularize"

[2019-04-05 16:14] AKTheKnight commented on #809
Hi @Mason11987 Are you having an issue with singularize?

[2019-04-06 04:04] cjmurph commented on #798
Hi, I'm targeting 4.6.1, I still wind up with all the libraries listed in the OP in my output folder. The only way to resolve this for me was to update to 4.7.2.

[2019-04-10 10:09] jemunk commented on #690
I have one report from the field with this exception.  I only have the Humanizer.Core including some other localized packages. Report happened from a phone configured for Polish which is not part of my included packages.

[2019-04-16 09:32] jeremyVignelles opened #810 "ByteSize symbols should be translated"
Hi,
I'm French, and I'm using Humanizer to display TimeSpans and Byte size in a human readable-format.

However, in France, the term "byte" doesn't exist, except for programmers, and the word "octet" is used instead.

A few examples of english units VS french ones :
- `MB` => `Mo`
- `kB` => `ko`
- `kb` => `kb`

When non-technical folks read "MB", they will read it as "Méga Bits", which is a _bit_

[2019-04-19 04:58] icnocop opened #811 "`0.Bytes().Humanize("#.## B")` returns " B""
Hi.

I noticed that `0.Bytes().Humanize("#.## B")` returns `" B"` instead of `"0 B"`.

As a work-around, I have to check if the value is `0` then use `myvar.Bytes().Humanize("0 B")` for example.

Related to https://github.com/Humanizr/Humanizer/issues/450

Humanizer 2.6.2 in .NET Framework 4.5.2.

Thank you.

[2019-04-22 10:51] AKTheKnight commented on #811
Yeah this is definitely related to #450. The final step for
```0.Bytes().Humanize("##.# B")```
is (With values replaced with variable names)
``` return 0.ToString("#.## B", NumberFormatInfo.CurrentInfo)```.

This is the same as https://github.com/Humanizr/Humanizer/issues/450#issuecomment-131316811

We do currently have a bit where we set the format to 0.## if there is none provided, but that does

[2019-04-23 17:00] reznor244 commented on #710
I would like to contribute to this, but have a few thoughts. It doesn't make sense to add it to the ConverterFactory for a few reasons, so I'm wondering where would be the best place to add this.

One issue is that it needs to specify simplified/traditional. The other is that you wouldn't want the financial characters to override the standard characters by adding it to the ConverterFactory.

The S

[2019-04-24 17:24] LaTiNoDiaz opened #813 "Humanizer with .Net framework 4.6.2"
Hi,

When I add Humanizer.Core to my C# desktop application targeting .net 4.6.2 a enormous number of System.xxx dlls appear in my output folder.
When targeting 4.7.2 this doesn't happen.
Does this mean Humanizer v2.6.2 depends on .Net Framework 4.7.2 and I need to deploy all those System.xxx dlls with the application when targeting 4.6.2?

Thanks

[2019-04-25 13:06] bradleyuk opened #814 "The resource object with key 'DateHumanize_MultipleYearsAgo' was not found"
Exception "The resource object with key 'DateHumanize_MultipleYearsAgo' was not found" thrown when browser (chrome) language set to **Czech**

Have tried with Humanizer.Core.cs v2.6.2 installed and just with Humanizer.Core, Happens both times.

`[ArgumentException: The resource object with key 'DateHumanize_MultipleYearsAgo' was not found
Parameter name: resourceKey]
   Humanizer.Localisation.Form

[2019-04-27 14:07] AKTheKnight commented on #814
Hi @bradleyuk It looks like we don't have a translation for that yet, would you be able to help with missing translations in Czech? If so let me know and I'll find what other things we are missing.

[2019-04-27 14:10] #811 closed

[2019-05-01 20:55] bradleyuk commented on #814
Sure, let me know which Czech translations you need.

But surely it should gracefully fallback to default/English rather than
throw an exception?

On Sat, 27 Apr 2019 at 15:07, Alex Knight <notifications@github.com> wrote:

[2019-05-03 12:56] MrGrabazu opened #816 "Support for time expressions ("from now", "in", "since", "ago")"
Hi,

Thank you for this great library ! Such a usefull tool !

I was thinking maybe it will be a great add to be able to choose between "since" and "ago" in order to express ifferents meanings for past expression and be able to choose between "from now" and "in" in order to express differents meanings for future expression.

- since express that whatever it is it is what it is since X time (ex: si

[2019-05-20 12:51] ridderholt commented on #799
I have the same issue using Xamarin.Forms 3.6.0, I have only installed the package Humanizer.Core.sv version 2.6.2 and when I run the app for UWP the translation works fine, but on Android I only get English.

[2019-05-24 10:18] MovGP0 opened #818 "Support for CRON Expressions"
There should be support for printing CRON expressions in a human readable format.

Similar to https://crontab.guru/

[2019-05-25 18:19] SzybkiDanny opened #819 "ByteSize with no overload for subtraction"
The documentation for ByteSize says:

And then follows with an example:

`var total = (10).Gigabytes() + (512).Megabytes() - (2.5).Gigabytes();`

Unfortunately, it doesn't work and after looking at the source, I can confirm there is an appropriate overload missing for `-` operator.

There is, however, a unary operator defined for subtraction so one can achieve the same result with:

`var total = (

[2019-06-15 06:23] jemunk opened #830 "DateHumanize_MultipleHoursAgo in polish"
In version 2.6.2

For one user we are getting a System.ArgumentException: The resource object with key 'DateHumanize_MultipleHoursAgo' was not found Parameter name: resourceKey
The user is having his UI set to Polish

[2019-06-20 20:30] AKTheKnight commented on #830
Hi @jemunk,

It seems there is a value for MultipleHoursAgo in the polish translations:
https://github.com/Humanizr/Humanizer/blob/23c4c2a526deb0f101b39fe060fca66f5e66c823/src/Humanizer/Properties/Resources.pl.resx#L135-L137

Any chance you could show the code you are using?

[2019-06-20 20:37] AKTheKnight commented on #814
Okay, so I'm really confused now, looking in the source we do have a value, for this:
https://github.com/Humanizr/Humanizer/blob/23c4c2a526deb0f101b39fe060fca66f5e66c823/src/Humanizer/Properties/Resources.cs.resx#L153-L155

@bradleyuk Are you still able to reproduce this issue? And if so any chance I could see the code you're running?

[2019-06-25 14:42] Pugnatore opened #832 "Issue doing camelCase"
I have a word in my project that is:
 word="FOBO".
As it is only a word, the expected output when we do word.camelize() should be: "fobo", but it my case I´m getting "fOBO".
I suspect that humanizer is considering my word as an acronym, but in this case is just a word.
I tried to do:

word=word.Transform(To.LowerCase, To.TitleCase);
word=word.camelize();

but this technique will impact with other

[2019-07-03 13:51] zulimazuli commented on #832
Humanizer takes your word as an acronym, so I guess Camelize works as designed.

Your approach would work but in my opinion, it is overkill.
Don't you mean to have the word in lowercase? => word.ToLower()

[2019-07-09 09:19] SzybkiDanny commented on #819
Thank you for the reaction

[2019-07-18 11:16] HeartBeat1608 commented on #832
I would like to contribute to this project. 🥇
This particular issue seems to be interesting and I am thinking of adding an option to ignore the Acronyms there. As for your case, we could add an overload to the Humanizer Transform method something like this =>

word = "FOBO"
word = word.Transform(ToLowerCase, To.TitleCase, To.IgnoreAcronym);

This would allow the Humanizer to separate the Acronyms

[2019-08-01 07:52] astro75 commented on #814
I had a similar problem, we use only english version (Humanizer.Core) but the clients PC had a different system language that caused the exception. I would be really nice if it defaulted to english if other languages are not installed

[2019-08-07 21:54] evgeni-nabokov opened #843 "Neglect hours in DateTime"
Hi!
Regarding the magazine's issue date, I would like to get "today" or "yesterday" instead of "3 hours ago" or "15 hours ago". I do not want to have hours at all (because nobody cares of hours). How can I achieve this with Humanizer?

[2019-08-23 04:28] peppy commented on #814
Same issue as #690. Still affecting us.

[2019-08-23 04:29] peppy commented on #830
Also a duplicate of #690.

[2019-08-23 04:31] peppy commented on #776
Another instance of #690, related to xamarin (android?) not including satellite dependencies properly. Would be great if this didn't cause exceptions to be thrown.

[2019-09-10 09:21] enisn opened #852 "Mono Linker doesn't link resources for Blazor"
Localization doesn't work on Blazor.

Following dlls are linked:
`Humanizer.dll`
`Humanizer.resources.dll`

But none of `{culture}/Humanizer.resources.dll` are linked.

[2019-09-10 09:59] onovotny commented on #852
I would file an issue on https://github.com/mono/linker. There's not much we can do on our end.

[2019-09-10 10:32] nielosz commented on #686
Did you find a solution?

[2019-09-10 11:07] enisn commented on #852
I've just posted an issue related with that:

[Mono Linker - #739](/mono/linker/issues/739)

[2019-09-24 01:32] caioproiete commented on #843
@evgeni-nabokov Humanizer doesn't support that out-of-the-box. You'd have to create your own `IDateTimeHumanizeStrategy` implementation, and set that in the configuration. Something like:

[code]

---

[code]

---

As of this writing, Humanizer is on version 2.7.2, and [the word `today` is not present in the Resources](https://github.com/Humanizr/Humanizer/blob/v2.7.2/src/Humanizer/Properties/Reso

[2019-09-26 14:43] cptcrunchy commented on #348
Could we model a solution similar to what [Numsense](https://github.com/ploeh/Numsense) has done already?

[code]

[2019-09-27 12:48] haf opened #857 "Swedish Number to Word doesn't exist"

[2019-09-27 12:53] #857 closed

[2019-09-27 19:47] sommmen opened #858 "Moving all language packages to a sub-folder in build output"
Hello,

I have setup my project in a way that all reference dlls etc are in a /lib folder, so e.g. Bin/Debug/Lib.
Humanizer pushes a lot of culture/lang folders to the output folder.
Could I have them moved to the same sub directory?

Right now I use a post build script to move the files to the subdir. I then have probing setup to the /lib sub folder so the executable finds the dlls.

[2019-09-27 19:49] onovotny commented on #858
Subfolders per culture in the output directory are how the .NET Resource Manager locates culture specific resource assemblies.

[2019-09-27 20:42] sommmen commented on #858
So you see no chance of being able to move those to a subdirectory? Or embed them or something?

[2019-09-27 21:09] onovotny commented on #858
That's not how .NET works:
https://docs.microsoft.com/en-us/dotnet/framework/resources/packaging-and-deploying-resources-in-desktop-apps#ultimate-fallback-to-satellite-assembly

What are you trying to do, what's the concern?

[2019-09-27 21:46] sommmen commented on #858
I had never worked with languages files before, but thanks for the info.
The only (minor) concern I have is keeping a clean output folder. I'd rather had the language folders in a subdirectory.

When 'deploying' our software we usually copy the new assemblies over the old ones so things like setting files etc. are not overwritten. looking for the settings folder inbetween all those language files

[2019-09-28 08:34] #858 closed

[2019-10-01 10:20] bradleyuk commented on #814
Still occurring, also for "DateHumanize_MultipleMonthsFromNow" in Czech... :(

[2019-10-02 12:38] ciaran036 opened #859 "Error on MVC Razor views after installing Humanizer"
I have an ASP.NET MVC v4.6.1 web project. When I installed Humanizer, the Razor intellisense now shows an error message similar to this to this on all HtmlHelper functions:

It only seems to affect the Intellisense on views. The views still work fine, but there are errors throughout the views. They don't go away with restarting Visual Studio, rebuilding etc.

I tried updating the project to v4.7.2

[2019-10-02 14:50] Ashera138 commented on #819
It looks like this issue can be closed. 👍

[2019-10-04 15:19] #819 closed

[2019-10-04 17:04] saroup opened #861 "Is there a way to "dehumanize" human readable date like "Tomorrow" to a dateTime?"
It would very useful to have something that takes in things like
"Tomorrow"
"In 2 weeks"
"Next Month"
"Yesterday"
and turns it into a DateTime Object

[2019-10-06 00:30] SystemKeeper opened #862 "Missing weeks when humanizing TimeSpan with min/maxUnit"
Please have a look at the following example

[code]

This outputs

but I would expect something like

Am I missing something here?

[2019-10-08 08:22] erikvojtko commented on #861
Hi, can I work on this Issue?

[2019-10-09 12:39] miguelhughes commented on #346
Here's my solution:
[code]

[2019-10-11 10:53] enisn commented on #852
Visit related original issue to see solution. It's closed there:

[2019-10-11 10:53] #852 closed

[2019-10-23 10:39] hazzik commented on #782
As I understand you're looking into the "round to n-th significant digit" (more specifically "truncate to most significant digit")

Then you can do `significant.ToWords().Pluralize()`.

[2019-10-23 17:18] TheMightyPope commented on #782
Is 'significant' part of HUmanizer, I can't seem to locate it.

1200000.significant.ToWords().Pluralize() ==> "millions"

[2019-10-24 17:58] TheMightyPope commented on #782
LOL well played, I deserved that.

So I'm doing the math now, to round in various shapes and forms to make the examples above make sense. If it was built into humanizer (Sorry I don't have the time), that would be awesome. so 400000000 ==> hundreds of millions (instead of 400000000 currently becomes ==> four hundred millions).

[2019-10-24 20:17] hazzik commented on #782
How would you distinguish the difference between “forty two” => “forties” and “forty two millions” => “millions”? Where is the border?

[2019-10-24 20:36] TheMightyPope commented on #782
Honestly I'm not sure, but I do know you would normally say something runs into the "tens of millions" or "hundreds of millions", or just "millions", so I probably by each digit...
thousands, tens of thousands, hundreds of thousands
billions, tens of billions, hundreds of billions
twenties, thirties, forties, ... nineties, hundreds,

Not being a linguist, or native english speaker, that's what I t

[2019-10-25 21:59] kendallb opened #868 "Disable support for simple singularization"
We are currently using this library to help with product search on our web site, and we take all the keywords we index against and get singular and plural versions of the words to add to the index. Unfortunately the singular algorithm has the simplest rule at the start, which is anything ending in an 's' should simply have the 's' removed. While this normally makes sense, in our case it just intro

[2019-10-31 03:37] TruthIsIAmIronMan opened #872 "[Request] Support for digit grouping"
One scenario is when using `ToQuantity()`, which returns a string, format is most of the time necessary if it will be displayed to a user. One of the common formats is digit grouping, or using thousands separator.

Example:
`"second".ToQuantity(1000000)`

I believe in the above example, it would be better understood immediately if the digits are grouped, which is done by formatting the string such

[2019-10-31 17:28] pmunin opened #873 "Timespan Humanize MinUnit does not match documentation"
The [documentation](https://github.com/Humanizr/Humanizer#humanize-timespan) says:

`TimeSpan.FromMilliseconds(122500).Humanize(minUnit: TimeUnit.Second) => "2 minutes, 2 seconds"    // instead of 2 minutes, 2 seconds, 500 milliseconds`

When you run it on latest version you get different actual result:
`TimeSpan.FromMilliseconds(122500).Humanize(minUnit: Humanizer.Localisation.TimeUnit.Second) =>

[2019-10-31 18:17] luqp commented on #816
Hi, good suggestion, but I found 2 problems:

### First
I think we can not leave the user defines the time expression directly in the `Humanize()` method.
One case is that user the could define a future time expression while the `DateTime` value is in the past, like this:
[code]

**My proposal** is create a provider class (`DateTimeExpressionProvider`),
in which the user can overwrite only the tim

[2019-10-31 18:22] MrGrabazu commented on #816
It would be perfect to do that! Thanks a lot!

[2019-11-05 08:47] hazzik commented on #861
Duplicate of #691

[2019-11-05 08:47] #861 closed

[2019-11-05 08:48] hazzik commented on #861
In short. There is no built in way to do this. Here is a future request #691 and older closed issue #112.

[2019-11-10 00:15] imclint21 opened #879 "DateHumanize_MultipleMonthsAgo"
Hi,

I get this error:

[code]

[2019-11-12 09:42] NikolayIT opened #880 "BolgarianNumberToWordsConverter should be renamed to BulgarianNumberToWordsConverter"
`BolgarianNumberToWordsConverter` should be renamed to `BulgarianNumberToWordsConverter`. The correct naming is Bulgarian.

https://en.wikipedia.org/wiki/Bulgarian_language

[2019-11-12 23:22] trevynmace commented on #873
I'll take this one :)

[2019-11-13 00:17] trevynmace commented on #873
Okay so it looks like the precision is the problem. The default precision for the Humanize call is 1, which then removes the rest of the data, in this case "2 seconds". If you make the call with `precision: 2` as a parameter then it will work as the documentation specifies, however this still means that either the documentation is wrong, or the method itself is wrong. In my opinion, I think the me

[2019-11-13 03:46] pmunin commented on #873
precision will not work the same way. I want to have minimum unit set, not precision.
E.g.:
Expected
`TimeSpan.FromMilliseconds(1000*(10+10*60)).Humanize(minUnit: TimeUnit.Second) => "10 minutes, 10 seconds"`.
`TimeSpan.FromMilliseconds(1000*(10+10*60 + 1*60*60)).Humanize(minUnit: TimeUnit.Second) => "1 hour, 10 minutes, 10 seconds"`.

With precision=2 I will get for the second test case `1 hour,

[2019-11-13 03:51] trevynmace commented on #873
Sorry, let me clarify. I was just giving an example of how a workaround would be possible by specifying the desired precision. I'll still work on a fix but I can't provide an ETA currently.

[2019-11-13 03:52] pmunin commented on #873
I see, well in this case I'll have to figure out myself which precision to use based on the value of timestamp. Thanks for your help though.

[2019-11-13 13:06] onovotny opened #881 "Move sample to its own repo"
Keeps older reference code out of the main repo.

[2019-11-13 13:13] #881 closed

[2019-11-13 13:43] #868 closed

[2019-11-23 18:11] AKTheKnight commented on #862
This is the same as the issue here: https://stackoverflow.com/questions/56550059/humanizer-months-weeks-days-hours

I've started fixing it in #831 but didn't manage to get round to properly finishing it. I'll get on that now :)

[2019-11-23 18:42] AKTheKnight commented on #862
Just to add I'm making a new PR for this, #831 was too far behind for me to want to actually keep active.

[2019-11-23 19:39] AKTheKnight commented on #879
That's odd, they're here: https://github.com/Humanizr/Humanizer/blob/93b66cd11156bd06a4585703e407f1239119a04d/src/Humanizer/Properties/Resources.resx#L147-L149

Lemme see if I can repro this somehow. Do you have an example of what causes the error?

Thanks

[2019-11-23 21:40] clintnetwork commented on #879
Hey,

I will try tomorrow to found you the trace of the error, honestly, I don't know what is it, it seems to appear from the culture of one of our customers!

[2019-11-23 22:26] AKTheKnight commented on #879
Hi,

If you're able to find out which culture they're using, I suspect we find we don't have the translation for that specific resource. From there we can look at the best way of getting it.

[2019-11-23 22:31] clintnetwork commented on #879
Yes yes, tonight it's not possible because I don't have my computer but tomorrow I will normally retrieve Sentry.io logs and it will be good!

[2019-11-24 18:12] clintnetwork commented on #879
Hi @AKTheKnight

This is the report of the error: https://sentry.io/share/issue/a93f6d4135494d99a3fdad69f847265b/

[code]

[2019-11-27 16:15] ygel commented on #813
Humanizer is a Net Standard 2.0 library:
![image](https://user-images.githubusercontent.com/51912343/69740305-ccaf4e80-10fe-11ea-9af0-0a898ee716a7.png)

NetFx 4.7.2 is first framework with full Net Standard 2.0 support, NetFx 4.6.2 needs these .dlls and binding redirects to work with Humanizer: https://weblog.west-wind.com/posts/2019/Feb/19/Using-NET-Standard-with-Full-Framework-NET#the-first-vers

[2019-11-28 17:39] AKTheKnight commented on #880
This can be closed now :)

[2019-11-28 19:01] hazzik commented on #880
Fixed by #882

[2019-11-28 19:01] #880 closed

[2019-12-01 15:33] skyapps-co commented on #879
I got 2 reports of this error for the Czech language.

[2019-12-02 14:29] tranb3r commented on #765
It looks like a fix has been done a long time ago, but the PR has never been merged.
What exactly remains to be done ? How can I help ?

[2019-12-04 15:45] chriszuercher commented on #765
I would also be intrested in this change. Is there any plan to change it?
Btw. I could provide the German and French translations if needed.

[2019-12-04 17:52] medvjed opened #887 "nuget packaging is not very managable"
I really like this project, however, the nuget packaging...
a package for every language which is 40. Imagine if you supported even more languages next year
Imagine if every other package in my project (80+) would have 50 packages for every language.
I would have 4000 packages to scroll through.

It should be just one.
If a language updates you should update the whole package.
to 2.7.10

[2019-12-07 19:37] onovotny commented on #887
This is by design as many people expressed an interest/need in being able to only have specific languages in their application.

Using satellite packages is the only option NuGet provides for this.

Are you using packages.config or PackageReference for your NuGet packages? The easiest way to get them all is to add `Humanizer` and the rest are transitively brought in.

[2019-12-07 19:37] #887 closed

[2019-12-09 19:08] swingtempo opened #890 "Documentation - default precision is not .75"
In the Readme, the documentation implies that default precision is .75 but it is not.

Upon rereading I think that the docs are not clear on this front - I can see how the sentence talking about the default precision referred to the example above it, as opposed to "default globally".  Maybe there is a wording change that can make it clear?

[2019-12-12 11:03] haraldchr opened #891 "Singularize/Pluralize"
Does this only work for English ?
Given this code

[code]

Produces this output:

---
Am I to conclude that Pluralize() only supports English language or am I missing something here?

regards Harald

[2019-12-18 02:05] beeradmoore commented on #592
Just had an awkward time with this. Using it in a Xamarin.Forms project (iOS/Android) and trying to figure out why my iPhone as being "238 gigabytes" when it really means "238 gibibytes", and then digging around looking why iOS is possibly giving me an incorrect number of device storage size in bytes incorrectly.

Good to know traction from the multiple proposed/implemented solutions is dead in th